{% extends "layout.html" %}
{% block secondLayer %}
<div class="secondLayer">
    <div class="wrapper">
        <ul>
            <li>
                <a class="{% if request.path == '/assignedProjects'%} active {% endif %}" href="{{ url_for('assigned')}}">Your Projects</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}


{% block body %}
<div class="backlogs">
    <div class="wrapper clearfix">
        <div class="tableSection full">
            <div class="titleWrap clearfix">
                <div class="title pull-left">Backlogs</div>
            </div>
            <div class="tableSec">
                <div class="tablerow header">
                    <div class="withHover tableData width30 minus2">Project Supervisor</div>
                    <div class="withHover tableData width30">Title</div>
                    <div class="withHover tableData width20">Allocation</div>
                    <div class="withHover tableData width20">Status</div>
                    <div class="tableData width2"></div>
                </div>


                <div class="tablerow content">
                    <div class="tableData width30 minus2" data-toggle="modal" data-target=".addTask">Mr Adewale</div>
                    <div class="tableData width30 withBar" data-toggle="modal" data-target=".addTask">Building of the wall</div>
                    <div class="tableData width20">₦1,000,000</div>
                    <div class="tableData width10 ongoing">Ongoing</div>
                    <div class="tableData width8 task" data-toggle="collapse" data-target=".innertable">View Task <i class="fa fa-angle-down" aria-hidden="true"></i></div>
                </div>

                <div class="innertable collapse" style="padding: 0 0 0 10px;">
                    <div class="tablerow content">
                        <div class="tableData width30 minus2" data-toggle="modal" data-target=".innertable">Mr Bola</div>
                        <div class="tableData width30 withInnerBar" data-toggle="modal" data-target=".innertable">Buy Blocks</div>
                        <div class="tableData width20">₦300,000</div>
                        <div class="tableData width10 ongoing">Ongoing</div>
                        <div class="tableData width8 task" data-toggle="collapse" data-target=".innerinnertable">View Task <i class="fa fa-angle-down" aria-hidden="true"></i></div>
                    </div>

                    <div>
                        <div class="innerinnertable collapse" style="padding: 0 0 0 10px;">
                            <div class="tablerow content">
                                <div class="tableData width30 minus2" data-toggle="modal" data-target=".innertable">Mr Bola</div>
                                <div class="tableData width30 withInnerinnerBar" data-toggle="modal" data-target=".innertable">Pay BrickLayers</div>
                                <div class="tableData width20">₦100,000</div>
                                <div class="tableData width10 ongoing">Ongoing</div>
                            </div>
                        </div>
                        <div class="innerinnertable collapse" style="padding: 0 0 0 10px;">
                            <div class="tablerow content">
                                <div class="tableData width30 minus2" data-toggle="modal" data-target=".innertable">Mr Wale</div>
                                <div class="tableData width30 withInnerinnerBar" data-toggle="modal" data-target=".innertable">Supervise BrickLayers</div>
                                <div class="tableData width20">₦100,000</div>
                                <div class="tableData width10 ongoing">Ongoing</div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="innertable collapse" style="padding: 0 0 0 10px;">
                    <div class="tablerow content">
                        <div class="tableData width30 minus2" data-toggle="modal" data-target=".innertable">Mr K</div>
                        <div class="tableData width30 withInnerBar" data-toggle="modal" data-target=".innertable">Buy Cement</div>
                        <div class="tableData width20">₦230,000</div>
                        <div class="tableData width10 completed">Completed</div>
                    </div>
                </div>
        </div>
    </div>
</div>

<!-- Add new project -->
<div class="generalModal modal fade addProject" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <form action="backlogs.html">
        <div class="titleSection">
            <div class="cancel clearfix">
                <span class="title">Add new project</span>
                <i data-dismiss="modal" class="fa fa-times" aria-hidden="true"></i>
            </div>
            <input type="text" class="title" placeholder="Enter Title">
            <div class="assign clearfix">
                <select class="assignTo">
                    <option value="">Assigned to</option>
                    <option value="">Babatunde Adegbite</option>
                </select>
                <button data-dismiss="modal" class="save" type="button"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save & close</button>
            </div>
        </div>
        <div class="stateSection clearfix">
            <div class="col-md-4">
                <div class="form-wrap clearfix">
                    <div class="col-md-2 p-0">
                        <div class="title">State</div>
                    </div>
                    <div class="col-md-10">
                        <select class="stateForm">
                            <option value="">New</option>
                            <option value="">Closed</option>
                            <option value="">In Progress</option>
                            <option value="">Awaiting Approval</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-wrap clearfix">
                    <div class="col-md-1 p-0">
                        <div class="title">Allocation</div>
                    </div>
                    <div class="col-md-11">
                        <input type="text" class="stateForm" placeholder="Amount(₦)">
                    </div>
                </div>
            </div>
        </div>
        <div class="descritpionSection clearfix">
            <div class="col-md-8">
                <div class="title">Description</div>
                <textarea>
                    
                </textarea>
            </div>
            <div class="col-md-4">
                <div class="title">Planning</div>
                <div class="planingForms">
                   <div class="title">Priority</div> 
                   <select class="plan">
                       <option value="">2</option>
                   </select>
                </div>
                <div class="planingForms">
                   <div class="title">Start Date</div> 
                   <input class="datetimepicker plan" type="text">
                </div>
                <div class="planingForms">
                   <div class="title">End Date</div> 
                   <input class="datetimepicker plan" type="text">
                </div>
            </div>
        </div>
    </form>
    </div>
  </div>
</div>

<!-- Add sub-Task -->
<div class="generalModal modal fade addTask" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <form action="backlogs.html">
        <div class="titleSection">
            <div class="cancel clearfix">
                <span class="title">Update task</span>
                <i data-dismiss="modal" class="fa fa-times" aria-hidden="true"></i>
            </div>
            <input type="text" class="title" value="Building of the wall" placeholder="Enter Title" readonly>
            <div class="assign clearfix">
                <select class="assignTo">
                    <option value="">You</option>
                    <option disabled="disabled" value="">Babatunde Adegbite</option>
                </select>
                <button data-dismiss="modal" class="save" type="button"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save & close</button>
            </div>
        </div>
        <div class="stateSection clearfix">
            <div class="col-md-4">
                <div class="form-wrap clearfix">
                    <div class="col-md-2 p-0">
                        <div class="title">State</div>
                    </div>
                    <div class="col-md-10">
                        <select class="stateForm">
                            <option value="">New</option>
                            <option value="">Closed</option>
                            <option value="">In Progress</option>
                            <option value="">Awaiting Approval</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-wrap clearfix">
                    <div class="col-md-1 p-0">
                        <div class="title">Allocation</div>
                    </div>
                    <div class="col-md-11">
                        <input type="text" class="stateForm" value="₦1,000,000" placeholder="Amount(₦)" readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="descritpionSection clearfix">
            <div class="col-md-8">
                <div class="title">Note</div>
                <textarea>
                    
                </textarea>
            </div>
            <div class="col-md-4">
                <div class="title">Planning</div>
                <div class="planingForms">
                   <div class="title">Priority</div> 
                   <select class="plan">
                       <option value="">2</option>
                       <option disabled="disabled" value="">5</option>
                       <option disabled="disabled" value="">7</option>
                   </select>
                </div>
                <div class="planingForms">
                   <div class="title">Percentage Completion</div> 
                   <select class="plan">
                       <option value="">0%</option>
                       <option value="">10%</option>
                       <option value="">20%</option>
                       <option value="">30%</option>
                       <option value="">40%</option>
                       <option value="">50%</option>
                       <option value="">60%</option>
                       <option value="">70%</option>
                       <option value="">80%</option>
                       <option value="">90%</option>
                       <option value="">100%</option>
                   </select>
                </div>
            </div>
        </div>
    </form>
    </div>
  </div>
</div>
{% endblock %}