{% extends "layout.html" %}
{% block secondLayer %}
<div class="secondLayer">
    <div class="wrapper">
        <ul>
            <li>
                <a class="{% if request.path == '/assigned-tasks'%} active {% endif %}" href="{{ url_for('.assigned_tasks')}}">Your Tasks</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}


{% block body %}
<div class="banner">
    <div class="content">
        <div class="title">Welcome {{ current_user.full_name }}</div>
        <ul class="myTabs" role="tablist">
            <li role="presentation" class="active"><a href="#recent" aria-controls="recent" role="tab" data-toggle="tab">Recent</a></li>
            <li role="presentation"><a href="#completed" aria-controls="completed" role="tab" data-toggle="tab">Completed</a></li>
            <li role="presentation"><a href="#all" aria-controls="all" role="tab" data-toggle="tab">All</a></li>
        </ul>
    </div>
</div>

<!-- Edit Task modal -->
<div class="modal fade editTask" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="title clearfix">
            <span class="pull-left" data-bind="text: title"></span>
            <span data-dismiss="modal" aria-label="Close" class="pull-right"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
        <form method="post" id="updateTaskForm" action="{{ request.path }}">
            {{ form.csrf_token }}
            {{ form.task_id(**{'data-bind': 'value: task_id'}) }}
            <div class="content clearfix">
                <div class="col-md-6">
                    <label for="">Percentage Completion</label>
                    {{ form.percent(**{'data-bind': 'value: percent'}) }}
                </div>  
                <div class="col-md-6">
                    <label for="">Status</label>
                    {{ form.status(**{'data-bind': 'value: status'}) }}
                </div>
                <div class="col-md-12">
                    <label for="">Note</label>
                    <textarea name="note" id="" cols="30" rows="10"></textarea>
                </div>  
            </div>
            <div class="buttonWrap">
                <button type="submit" onclick="form_submit()"  data-dismiss="modal" class="save"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save &amp; close</button>
            </div>
        </form>
    </div>
  </div>
</div>

<!-- Task Details modal -->
<div class="modal fade taskDetails" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="title clearfix">
            <span class="pull-left" data-bind="text: title"></span>
            <span data-dismiss="modal" aria-label="Close" class="pull-right"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
        <div class="content clearfix">
            <table class="detailTable">
                <tr>
                    <th>Task Name</th>
                    <th>Task Description</th>
                </tr>
                <tr>
                    <td data-bind="text: title"></td>
                    <td data-bind="text: description"></td>
                </tr>
            </table>
            <table class="moreDetailTable">
                <tr>
                    <td>Current Status</td>
                    <td data-bind="text: statusText"></td>
                </tr>
                <tr>
                    <td>Start Date</td>
                    <td data-bind="text: start_date"></td>
                </tr>
                <tr>
                    <td>End Date</td>
                    <td data-bind="text: deadline"></td>
                </tr>
                <tr>
                    <td>Percentage Completion</td>
                    <td data-bind="text: percent"></td>
                </tr>

            </table>
            <label class="myLabel">History</label>
            <!-- ko foreach: history -->
            <div class="bs-callout bs-callout-info" id="callout-pagination-label"> 
                <h4 data-bind="text: owner"></h4>
                <small class="smallText" data-bind="text: date_created"></small>
                <small class="smallText">Updated To: 
                <strong data-bind="text: percent"></strong></small>
                <p data-bind="html: note"></p>
            </div>
            <!-- /ko -->
        </div>
    </div>
  </div>
</div>


<div class="details infor pt-0">
    <div class="wrapper">
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active mt-30" id="recent">
            {% if tasks %}
                <table class="assignedTask">
                <tr>
                    <th>S/N</th>
                    <th>Name</th>
                    <th>Due Date</th>
                    <th>%Completion</th>
                    <th></th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for task in tasks %}
                    <tr >
                        <td>{{loop.index}}</td>
                        <td class="projectName">
                            {{ task.task.title }}
                        </td>
                        <td>
                            {{ task.task.deadline.strftime('%d/%m/%Y') }}
                        </td>
                        <td >
                            {{ task.task.percent }}% completed
                        </td>
                        <td class="progressBar">
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="{{ task.task.percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ task.task.percent }}%;">
                                {{ task.task.percent }}%
                              </div>
                            </div>
                        </td>
                        <td>
                            {{ task.task.statusText }}
                        </td>
                        <td>
                            <a class="update" href="#" data-bind="click: function(){ getTask({{ task.task.id }}); }">Update</a>
                        </td>
                        <td>
                            <a class="details" href="#" data-bind="click: function(){ getDetails({{ task.task.id }}); }">View details</a>
                        </td>
                    </tr>
                {% endfor %}
                </table>

                
            {% else %}
                <p>There are no tasks assigned to you</p>
            {% endif %}
        </div>
        <div role="tabpanel" class="tab-pane" id="completed">
            {% if tasks %}
                <table class="assignedTask">
                <tr>
                    <th>S/N</th>
                    <th>Name</th>
                    <th>Due Date</th>
                    <th>%Completion</th>
                    <th></th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for task in tasks if task.task.status == 2 %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td class="projectName">
                            {{ task.task.title }}
                        </td>
                        <td>
                            {{ task.task.deadline.strftime('%d/%m/%Y') }}
                        </td>
                        <td>
                            {{ task.task.percent }}% completed
                        </td>
                        <td class="progressBar">
                            <div class="progress">
                                <div class="progressBar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="{{ task.task.percent }}">
                                  <span class="sr-only">{{ task.task.percent }}% Complete</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            {{ task.task.statusText }}
                        </td>
                        <td>
                            <a class="update" href="#" data-bind="click: function(){ getTask({{ task.task.id }}); }">Update</a>
                        </td>
                        <td>
                            <a class="details" href="#" data-bind="click: function(){ getDetails({{ task.task.id }}); }">View details</a>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                <p>There are no completed tasks assigned to you</p>
            {% endif %}
        </div>
        <div role="tabpanel" class="tab-pane" id="all">
            {% if tasks %}
                
                <table class="assignedTask">
                <tr>
                    <th>S/N</th>
                    <th>Name</th>
                    <th>Due Date</th>
                    <th>%Completion</th>
                    <th></th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for task in tasks %}
                    <tr >
                        <td>{{loop.index}}</td>
                        <td class="projectName" data-toggle="modal" data-target=".editTask">
                            {{ task.task.title }}
                        </td>
                        <td>
                            {{ task.task.deadline.strftime('%d/%m/%Y') }}
                        </td>
                        <td>
                            {{ task.task.percent }}% completed
                        </td>
                        <td class="progressBar">
                            <div class="progress">
                                <div class="progressBar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="{{ task.task.percent }}">
                                  <span class="sr-only">{{ task.task.percent }}% Complete</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            {{ task.task.statusText }}
                        </td>
                        <td>
                            <a class="update" href="#" data-bind="click: function(){ getTask({{ task.task.id }}); }">Update</a>
                        </td>
                        <td>
                            <a class="details" href="#" data-bind="click: function(){ getDetails({{ task.task.id }}); }">View details</a>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                <p>There are no tasks assigned to you</p>
            {% endif %}
        </div>
    </div>
    
    </div>
</div>
<script type="text/javascript">
function ShowEditTaskModel(){
    var self = this;
    self.title = ko.observable();
    self.percent = ko.observable();
    self.task_id = ko.observable();
    self.status = ko.observable();

    self.update = function(task){
        self.title(task.title);
        self.percent(task.percent);
        self.task_id(task.id);
        self.status(task.status);
        console.log(task.title);
        /* show modal */
        $('.editTask').modal('show');
    }
}

function ShowTaskDetailsModel(){
    var self = this;
    self.title = ko.observable();
    self.description = ko.observable();
    self.statusText = ko.observable();
    self.start_date = ko.observable();
    self.deadline = ko.observable();
    self.percent = ko.observable();
    self.task_id = ko.observable();
    self.status = ko.observable();
    self.history = ko.observableArray();

    self.details = function(task){
        self.history([]);

        self.title(task.title);
        self.description(task.description);
        self.statusText(task.statusText);
        self.start_date(task.start_date_format.date);
        self.deadline(task.deadline_format.date);
        self.percent(task.percent + '%');
        self.task_id(task.id);
        self.status(task.status);

        for (var i = 0; i < task.history.length; i++) {
            self.history.push({
                note: ko.observable(task.history[i].note),
                percent: ko.observable(task.history[i].percent + '%'),
                date_created: ko.observable(task.history[i].date_created.date),
                owner: ko.observable(task.history[i].owner)
            });
        }

        /* show modal */
        $('.taskDetails').modal('show');
    }
}

function FetchTaskModel() {
    var self = this;

    self.taskURI = 'http://localhost:9000/api/v1.0/tasks/get';

    /* make ajax request */
    self.ajax = function(uri, method, data){
        var request = {
            url: uri,
            type: method,
            contentType: "application/json",
            accepts: "application/json",
            cache: true,
            dataType: 'json',
            data: JSON.stringify(data),
            error: function(jqXHR) {
                console.log("ajax error " + jqXHR.status);
            }
        };
        return $.ajax(request);
    }

    self.getTask = function(task_id){
        var url = self.taskURI + '/' + task_id;
        self.ajax(url, 'GET').done(function(data){
              showEdit.update(data.task);
            }
        );
    }

    self.getDetails = function(task_id){
        var url = self.taskURI + '/' + task_id;
        self.ajax(url, 'GET').done(function(data){
              showDetails.details(data.task);
            }
        );
    }

}
var fetchTask = new FetchTaskModel();
var showEdit = new ShowEditTaskModel();
var showDetails = new ShowTaskDetailsModel();
ko.applyBindings(fetchTask, $('.assignedTask')[0]);
ko.applyBindings(showEdit, $('.editTask')[0]);
ko.applyBindings(showDetails, $('.taskDetails')[0]);
</script>
<script type="text/javascript">
    function form_submit() {
        document.getElementById("updateTaskForm").submit();
   }
</script>
{% endblock %}
