{% extends "layout.html" %}

{% block body %}
<div class="details">
    <div class="wrapper">
    <div class="filterWrap clearfix">
        <div class="col-md-8"></div>
        <div class="col-md-2">
            <div class="filter">
                <label for="">Filter By</label>
                <select>
                    <option value="">--Select One--</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="filter">
                <label for="">Filter By</label>
                <select>
                    <option value="">--Select One--</option>
                </select>
            </div>
        </div>
    </div>
    <div class="infoWrap">
        {% for audit in audits %}
        <div class="bs-callout bs-callout-info">
            <h4>{{ audit.owner }}</h4>
            <small class="smallText">{{ audit.category }}</small>
            <small class="smallText">{{ audit.date_created }}</small>
            <small class="smallText">Affected Item:
            <strong>{{ audit.get_item }}</strong></small>
            <p>{{ audit.description }}</p>
        </div>
        {% endfor %}
    </div>
    </div>
</div>

{% endblock %}