{% extends "layout.html" %}

{% block body %}
<div class="details">
    <div class="wrapper">
    <div class="filterWrap clearfix">
        <div class="col-md-8"></div>
        <div class="col-md-2">
            <div class="filter">
                <label for="">Filter By</label>
                <select>
                    <option value="">--Select One--</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="filter">
                <label for="">Filter By</label>
                <select>
                    <option value="">--Select One--</option>
                </select>
            </div>
        </div>
    </div>
    <div class="infoWrap">
        <div class="bs-callout bs-callout-info"> 
            <h4>Babatunde Adegbite</h4>
            <small class="smallText">25/04/2017</small>
            <small class="smallText">Updated To: 
            <strong>100%</strong></small>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, iste, commodi. Quas non cumque error, recusandae unde sint nisi possimus voluptatum est dicta mollitia alias hic distinctio ab, doloribus fugitLorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, iste, commodi. Quas non cumque error, recusandae unde sint nisi possimus voluptatum est dicta mollitia alias hic distinctio ab, doloribus fugit.</p>
        </div>

        <div class="bs-callout bs-callout-danger"> 
            <h4>Babatunde Adegbite</h4>
            <small class="smallText">25/04/2017</small>
            <small class="smallText">Updated To: 
            <strong>100%</strong></small>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, iste, commodi. Quas non cumque error, recusandae unde sint nisi possimus voluptatum est dicta mollitia alias hic distinctio ab, doloribus fugitLorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, iste, commodi. Quas non cumque error, recusandae unde sint nisi possimus voluptatum est dicta mollitia alias hic distinctio ab, doloribus fugit.</p>
        </div>

        <div class="bs-callout bs-callout-warning"> 
            <h4>Babatunde Adegbite</h4>
            <small class="smallText">25/04/2017</small>
            <small class="smallText">Updated To: 
            <strong>100%</strong></small>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, iste, commodi. Quas non cumque error, recusandae unde sint nisi possimus voluptatum est dicta mollitia alias hic distinctio ab, doloribus fugitLorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, iste, commodi. Quas non cumque error, recusandae unde sint nisi possimus voluptatum est dicta mollitia alias hic distinctio ab, doloribus fugit.</p>
        </div>
    </div>
    </div>
</div>

{% endblock %}