{% extends "layout.html" %}

{% block body %}
<div class="backlogs">
    <div class="wrapper clearfix">
        <div class="tableSection">
            <div class="titleWrap clearfix">
                <div class="title pull-left">{{ project.title }}</div>
                {% if project.status == 2 %}
                {% else %}
                    <a href="#" class="addUser pull-right" data-toggle="modal" data-target=".addTask">Add Task</a>
                    <a href="#" class="closeActivity pull-right" data-toggle="modal" data-target=".closeActivity"> <i class="fa fa-warning" aria-hidden="true"></i> Close Activity</a>

                    <!-- <a href="#" class="openActivity pull-right"> <i class="fa fa-unlock-alt" aria-hidden="true"></i> Open Activity</a> -->
                {% endif %}
            </div><br><br>
            <table class="taskTable collaptable">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Allocation</th>
                        <th>Status</th>
                        <th>Start Date</th>
                        <th>Deadline</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in project.main_tasks %}
                        <tr data-id="{{ task.id }}" data-parent="">
                            <td class="withBar">{{ task.title }}</td>
                            <td>₦{{ task.budget }}</td>
                            {% if task.status == 2 %}
                                <td class="completed">
                            {% else %}
                                <td class="ongoing">
                            {% endif %}
                                {{ task.statusText }}
                            </td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.deadline }}</td>
                            <td class="actionBtn">
                                <button class="task" {% if project.status == 2 %} disabled {% endif %} data-toggle="modal" data-id="{{ task.id }}" data-target=".subTask"><i class="fa fa-plus" aria-hidden="true"></i> Add Subtask</button>
                            </td>
                        </tr>
                        {% if task.child_tasks %}
                            {% for pikin in task.child_tasks %}
                                <tr data-id="{{ pikin.id }}" data-parent="{{ pikin.parent_task }}">
                                    <td class="withInnerBar innerShift">{{ pikin.title }}</td>
                                    <td>₦{{ pikin.budget }}</td>
                                    {% if pikin.status == 2 %}
                                        <td class="completed">
                                    {% else %}
                                        <td class="ongoing">
                                    {% endif %}
                                        {{ pikin.statusText }}
                                    </td>
                                    <td>{{ pikin.start_date }}</td>
                                    <td>{{ pikin.deadline }}</td>
                                    <td class="actionBtn">
                                        <button class="task" {% if project.status == 2 %} disabled {% endif %} data-id="{{ pikin.id }}" data-toggle="modal" data-target=".subTask"><i class="fa fa-plus" aria-hidden="true"></i> Add Subtask</button>
                                    </td>
                                </tr>
                                {% if pikin.child_tasks %}
                                    {% for grand in pikin.child_tasks %}
                                        <tr data-id="{{ grand.id }}" data-parent="{{ grand.parent_task }}">
                                            <td class="withInnerinnerBar innerInnerShift">{{ grand.title }}</td>
                                            <td>₦{{ grand.budget }}</td>
                                            {% if grand.status == 2 %}
                                                <td class="completed">
                                            {% else %}
                                                <td class="ongoing">
                                            {% endif %}
                                                {{ grand.statusText }}
                                            </td>
                                            <td>{{ grand.start_date }}</td>
                                            <td>{{ grand.deadline }}</td>
                                            <td class="actionBtn">
                                                <button class="task" {% if project.status == 2 %} disabled {% endif %} data-id="{{ grand.id }}" data-toggle="modal" data-target=".subTask"><i class="fa fa-plus" aria-hidden="true"></i> Add Subtask</button>
                                            </td>
                                        </tr>
                                        {% if grand.child_tasks %}
                                            {% for great in grand.child_tasks %}
                                                <tr data-id="{{ great.id }}" data-parent="{{ great.parent_task }}">
                                                    <td class="withInnerinnerBar innerInnerInnerShift">{{ great.title }}</td>
                                                    <td>₦{{ great.budget }}</td>
                                                    {% if great.status == 2 %}
                                                        <td class="completed">
                                                    {% else %}
                                                        <td class="ongoing">
                                                    {% endif %}
                                                        {{ great.statusText }}
                                                    </td>
                                                    <td>{{ great.start_date }}</td>
                                                    <td>{{ great.deadline }}</td>
                                                    <td class="actionBtn"></td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="infoSectionWrap">
            <div class="infoSection">
                <div class="infoSec">
                    <div class="title">{{ project.completion }}% Completion</div>
                    <div class="content canvasFix">
                        <div class="chart" data-percent="{{ project.completion }}">{{ project.completion }}%</div>
                    </div>
                </div>
                <div class="infoSec">
                    <div class="title">Budget</div>
                    <div class="content price blue">
                        ₦{{ project.budget_limit }}
                    </div>
                </div>
                <div class="infoSec">
                    <div class="title">Amount Assigned</div>
                    <div class="content smallPrice pupple">
                        ₦{{ project.amount_spent }}
                    </div>
                </div>
                <div class="infoSec">
                    <div class="title">Amount Unassigned</div>
                    <div class="content smallPrice red">
                        ₦{{ project.amount_remaining }}
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>

<!-- Add new sub task -->
<div class="generalModal modal closeActivity" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div style="padding: 20px; font-size: 15px;">
            Are you sure you want to close this activity? This action can not be reversed!
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" id="closebg">Cancel</button>
            <button type="button" onclick="close_activity()" class="btn btn-danger btn-sm" data-dismiss="modal" id="closebg2"> <i class="fa fa-warning" aria-hidden="true"></i> Close Activity</button>
        </div>
    </div>
  </div>
</div>

<div class="modal fade editTask subTask" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="title clearfix">
            <span class="pull-left">Add new Subtask</span>
            <span data-dismiss="modal" aria-label="Close" class="pull-right"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
        <form method="post" id="addSubTaskForm" action="{{ request.path }}">
            {{ subform.csrf_token }}
            <input type="hidden" name="parent_id" id="parent_id" value="" />
            <div class="content clearfix">
                <div class="col-md-12">
                    <label for="">Title</label>
                    {{ subform.title(class_='title', placeholder='Enter Title', required="required") }}
                </div>  
                <div class="col-md-12">
                    <label for="">Assign</label>
                    {{ subform.assigned_to(class_='assignTo multiselect', multiple="multiple", prompt='Assigned to', required="required") }}
                </div>
                <div class="col-md-6">
                    <label for="">Allocation</label>
                    {{ subform.allocation(class_='stateForm plan money', placeholder="Amount(₦)", id='sub_allocation', **{'onchange': 'checkAllocation()'})}}
                    <sub style="color: red;">Maximum amount allowed: ₦{{ project.amount_remaining }}</sub>
                </div>

                <div class="col-md-6">
                    <label for="">Priority</label>
                    {{ subform.priority(class_='plan') }}
                </div>

                <div class="col-md-6">
                    <label for="">Start Date</label>
                    {{ subform.start_date1(class_="datetimepicker plan datepicker") }}
                </div>

                <div class="col-md-6">
                    <label for="">End Date</label>
                    {{ subform.end_date1(class_="datetimepicker plan datepicker") }}
                </div>

                <div class="col-md-12">
                    <label for="">Description</label>
                    {{ subform.description() }}
                </div>
            </div>
            <div class="buttonWrap">
                <button type="submit" id="submit" onclick="subform_submit()" class="save"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save & close</button>
        </div>
            </div>
        </form>
    </div>
  </div>
</div>


<div class="modal fade editTask addTask" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="title clearfix">
            <span class="pull-left">Add new task</span>
            <span data-dismiss="modal" aria-label="Close" class="pull-right"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
        <form method="post" id="addTaskForm" action="{{ request.path }}">
            {{ form.csrf_token }}
            {{ form.owner_id(**{'data-bind': 'value: owner_id'}) }}
            <div class="content clearfix">
                <div class="col-md-12">
                    <label for="">Title</label>
                    {{ form.title(class_='title', placeholder='Enter Title') }}
                </div>  
                <div class="col-md-12">
                    <label for="">Assign</label>
                    {{ form.assigned_to(class_='assignTo multiselect', multiple="multiple", prompt='Assigned to') }}
                </div>
                <div class="col-md-6">
                    <label for="">Allocation</label>
                    {{ form.allocation(class_='stateForm plan money', placeholder="Amount(₦)", id='form_allocation', **{'onchange': 'fcheckAllocation()'})}}
                    <sub style="color: red;">Maximum amount allowed: ₦{{ project.amount_remaining }}</sub>
                </div>

                <div class="col-md-6">
                    <label for="">Priority</label>
                    {{ form.priority(class_='plan') }}
                </div>

                <div class="col-md-6">
                    <label for="">Start Date</label>
                    {{ form.start_date(class_="datetimepicker plan datepicker") }}
                </div>

                <div class="col-md-6">
                    <label for="">End Date</label>
                    
                    {{ form.end_date(class_="datetimepicker plan datepicker") }}
                </div>

                <div class="col-md-12">
                    <label for="">Note</label>
                    <textarea data-bind="value: description" id="richtxt" name="description" required></textarea>
                </div>
            </div>
            <div class="buttonWrap">
                {{ form.task_submit(value='True') }}
                <button type="submit" id="fsubmit" onclick="form_submit()" data-dismiss="modal" class="save"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save & close</button>
            </div>
        </form>
    </div>
  </div>
</div>



<script type="text/javascript">
$(document).on("click", ".task", function(){
    var parent_id = $(this).data('id');
    console.log($(this).data('id'));
    $("#parent_id").val(parent_id);
});

function checkAllocation(){
    if($('#sub_allocation').maskMoney('unmasked')[0] > {{project.amount_remaining}}){
        $('#submit').prop('disabled', true);
    }else{
        $('#submit').prop('disabled', false);
    }
}

function fcheckAllocation(){
    if($('#form_allocation').maskMoney('unmasked')[0] > {{project.amount_remaining}}){
        $('#fsubmit').prop('disabled', true);
    }else{
        $('#fsubmit').prop('disabled', false);
    }
}

// function validateForm() {
//   var isValid = true;
//   $('input').each(function() {
//     if ($(this).val() === '' )
//         isValid = false;
//   });
//   return isValid;
// }

function form_submit() {
    $('#form_allocation').val($('#form_allocation').maskMoney('unmasked')[0]);
    document.getElementById("addTaskForm").submit();
   }

// function form_submit(){
//     $("#addSubTaskForm").submit()
// }

function subform_submit() {
    $('#sub_allocation').val($('#sub_allocation').maskMoney('unmasked')[0]);
    $("#addSubTaskForm").submit();
}

function close_activity(){
    // redirect to url
    window.location.replace("{{ url_for('.close_project', id=project.id) }}");
}

    $('#closebg, #closebg2').click(function(){
        $('#closebg').modal('hide');
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
    })

</script>
{% endblock %}