{% extends "layout.html" %}

{% block body %}
<div class="backlogs">
    <div class="wrapper clearfix">
        <div class="tableSection">
            <div class="titleWrap clearfix">
                <div class="title pull-left">{{ project.title }}</div>
                <a href="#" class="addUser pull-right" data-toggle="modal" data-target=".addTask">Add Task</a>
            </div>
            <div class="tableSec">
                <div class="tablerow header">
                    <div class="withHover tableData width30 minus2">Title</div>
                    <div class="withHover tableData width30">Allocation</div>
                    <div class="withHover tableData width20">Status</div>
                    <div class="withHover tableData width20">End Date</div>
                    <div class="tableData width2"></div>
                    <div class="tableData width2"></div>
                </div>
                {% if form.errors %}
                    {{ form.errors }}
                {% endif %}
                {% if subform.errors %}
                    {{ subform.errors}}
                {% endif %}
                {% if not project.main_tasks %}
                    <div>
                        There are no tasks to display...
                    </div>
                {% else %}
                    {% for task in project.main_tasks %}
                        <div class="tablerow content">
                            <div class="tableData width30 withBar" data-toggle="modal" data-target=".updateProject">{{ task.title }}</div>
                            <div class="tableData width30">₦{{ task.budget }}</div>
                            <div class="tableData width20 {% if task.status == 0 %} ongoing {% endif %}">{{ task.statusText }}</div>
                            <div class="tableData width20">{{ task.deadline_string.date }}</div>
                            {% if not task.parent_id or not task.parent.parent_id %}
                                <div class="tableData width8 task" data-toggle="modal" data-target=".addSubTask" data-id="{{ task.id }}"><i class="fa fa-plus" aria-hidden="true"></i> Add Task</div>
                            {% endif %}
                            {% if task.child_tasks %}
                                <!-- add trigger for child tasks -->
                                <div class="tableData width8 task" data-toggle="collapse" data-target=".innertable">View Task <i class="fa fa-angle-down" aria-hidden="true"></i></div>
                            {% endif %}
                        </div>
                        {% if task.child_tasks %}
                            <!-- add class for collapsible tasks -->
                            {% for child in task.child_tasks %}
                            <div class="innertable collapse" style="padding: 0 0 0 10px;">
                                <div class="tablerow content">
                                    <div class="tableData width30 withInnerBar" data-toggle="modal" data-target=".updateProject">{{ child.title }}</div>
                                    <div class="tableData width30">₦{{ child.budget }}</div>
                                    <div class="tableData width20 {% if child.status == 0 %} ongoing {% endif %}">{{ child.statusText }}</div>
                                    <div class="tableData width20">{{ child.deadline_string.date }}</div>
                                    {% if not child.parent_id or not child.parent.parent_id %}
                                        <div class="tableData width8 task" data-toggle="modal" data-target=".addSubTask" data-id="{{ child.id }}"><i class="fa fa-plus" aria-hidden="true"></i> Add Task</div>
                                    {% endif %}
                                    {% if child.child_tasks %}
                                        <!-- add trigger for child tasks -->
                                        <div class="tableData width8 task" data-toggle="collapse" data-target=".innerinnertable">View Task <i class="fa fa-angle-down" aria-hidden="true"></i></div>
                                    {% endif %}
                                </div>
                                {% if child.child_tasks %}
                                    <div>
                                        {% for grandkid in child.child_tasks %}
                                        <div class="innerinnertable collapse" style="padding: 0 0 0 10px;">
                                            <div class="tablerow content">
                                                <div class="tableData width30 minus2 withInnerinnerBar" data-toggle="modal" data-target=".innertable">{{ grandkid.title }}</div>
                                                <div class="tableData width30" data-toggle="modal" data-target=".innertable">₦{{ grandkid.budget }}</div>
                                                <div class="tableData width20 {% if grandkid.status == 0 %} ongoing {% endif %}">{{ grandkid.statusText }}</div>
                                                <div class="tableData width20">{{ grandkid.deadline_string.date }}</div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

            </div>
        </div>
        <div class="infoSectionWrap">
            <div class="infoSection">
                <div class="infoSec">
                    <div class="title">{{ project.completion }}% Completion</div>
                    <div class="content canvasFix">
                        <div class="chart" data-percent="{{ project.completion }}">{{ project.completion }}%</div>
                    </div>
                </div>
                <div class="infoSec">
                    <div class="title">Budget</div>
                    <div class="content price blue">
                        ₦{{ project.budget_limit }}
                    </div>
                </div>
                <div class="infoSec">
                    <div class="title">Amount Spent</div>
                    <div class="content smallPrice pupple">
                        ₦{{ project.amount_spent }}
                    </div>
                </div>
                <div class="infoSec">
                    <div class="title">Amount Left</div>
                    <div class="content smallPrice red">
                        ₦{{ project.amount_remaining }}
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>

<!-- Add new sub task -->
<div class="generalModal modal fade addSubTask" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <form method="post" id="addSubTaskForm" action="{{ request.path }}">
        {{ subform.csrf_token }}
        <input type="hidden" name="parent_id" id="parent_id" value="" />
        <div class="titleSection">
            <div class="cancel clearfix">
                <span class="title">Add new task</span>
                <i data-dismiss="modal" class="fa fa-times" aria-hidden="true"></i>
            </div>
            <input type="text" class="title" name="title" placeholder="Enter Title">
            <div class="assign clearfix">
                {{ subform.assigned_to(class_='assignTo', prompt='Assigned to') }}
                <button type="submit" name="subtask_submit" onclick="subform_submit()" data-dismiss="modal" class="save"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save & close</button>
            </div>
        </div>
        <div class="stateSection clearfix">
            <div class="col-md-8">
                <div class="form-wrap clearfix">
                    <div class="col-md-1 p-0">
                        <div class="title">Allocation</div>
                    </div>
                    <div class="col-md-11">
                        <input type="text" name="allocation" class="stateForm" placeholder="Amount(₦)">
                    </div>
                </div>
            </div>
        </div>
        <div class="descritpionSection clearfix">
            <div class="col-md-8">
                <div class="title">Description</div>
                <textarea name="description"></textarea>
            </div>
            <div class="col-md-4">
                <div class="title">Planning</div>
                <div class="planingForms">
                   <div class="title">Priority</div>
                   {{ subform.priority(class_='plan') }}
                </div>
                <div class="planingForms">
                   <div class="title">End Date</div>
                   <input class="datetimepicker plan" name="end_date" type="text">
                </div>
            </div>
        </div>
    </form>
    </div>
  </div>
</div>

<!-- Add Task -->
<div class="generalModal modal fade addTask" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <form method="post" id="addTaskForm" action="{{ request.path }}">
        {{ form.csrf_token }}
        <div class="titleSection">
            <div class="cancel clearfix">
                <span class="title">Add new task</span>
                <i data-dismiss="modal" class="fa fa-times" aria-hidden="true"></i>
            </div>
            {{ form.title(class_='title', placeholder='Enter Title') }}
            <div class="assign clearfix">
                {{ form.assigned_to(class_='assignTo', prompt='Assigned to') }}
                {{ form.task_submit(value='True') }}
                <button type="submit" onclick="form_submit()" data-dismiss="modal" class="save"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save & close</button>
            </div>
        </div>
        <div class="stateSection clearfix">
            <div class="col-md-8">
                <div class="form-wrap clearfix">
                    <div class="col-md-1 p-0">
                        <div class="title">Allocation</div>
                    </div>
                    <div class="col-md-11">
                        {{ form.allocation(class_='stateForm', placeholder="Amount(₦)")}}
                    </div>
                </div>
            </div>
        </div>
        <div class="descritpionSection clearfix">
            <div class="col-md-8">
                <div class="title">Description</div>
                {{ form.description() }}
            </div>
            <div class="col-md-4">
                <div class="title">Planning</div>
                <div class="planingForms">
                   <div class="title">Priority</div> 
                   {{ form.priority(class_='plan') }}
                </div>
                <div class="planingForms">
                   <div class="title">End Date</div>
                   {{ form.end_date(class_="datetimepicker plan") }}
                </div>
            </div>
        </div>
    </form>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).on("click", ".task", function(){
    var parent_id = $(this).data('id');

    $("#parent_id").val(parent_id);
});

function form_submit() {
    document.getElementById("addTaskForm").submit();
   }

function subform_submit() {
    document.getElementById("addSubTaskForm").submit();
   }
</script>
{% endblock %}