{% extends "layout.html" %}

{% block body %}
<div class="backlogs">
    <div class="wrapper clearfix">
        <div class="tableSection">
            <div class="titleWrap clearfix">
                <div class="title pull-left">{{ project.title }}</div>
                <a href="#" class="addUser pull-right" data-toggle="modal" data-target=".addTask">Add Task</a>
                <a href="#" class="closeActivity pull-right" data-toggle="modal" data-target=".closeActivity"> <i class="fa fa-warning" aria-hidden="true"></i> Close Activity</a>
                
            </div><br><br>
            <table class="taskTable collaptable">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Allocation</th>
                        <th>Status</th>
                        <th>Start Date</th>
                        <th>Deadline</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in project.main_tasks %}
                        <tr data-id="{{ task.id }}" data-parent="">
                            <td class="withBar">{{ task.title }}</td>
                            <td>₦{{ task.budget }}</td>
                            <td class="ongoing">{{ task.statusText }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.deadline }}</td>
                            <td class="actionBtn">
                                <button class="task" data-toggle="modal" data-target=".subTask"><i class="fa fa-plus" aria-hidden="true"></i> Add Subtask</button>
                            </td>
                        </tr>
                        {% if task.child_tasks %}
                            {% for pikin in task.child_tasks %}
                                <tr data-id="{{ pikin.id }}" data-parent="{{ pikin.parent_task }}">
                                    <td class="withBar">{{ pikin.title }}</td>
                                    <td>₦{{ pikin.budget }}</td>
                                    <td class="ongoing">{{ pikin.statusText }}</td>
                                    <td>{{ pikin.start_date }}</td>
                                    <td>{{ pikin.deadline }}</td>
                                    <td class="actionBtn">
                                        <button class="task" data-toggle="modal" data-target=".subTask"><i class="fa fa-plus" aria-hidden="true"></i> Add Subtask</button>
                                    </td>
                                </tr>
                                {% if pikin.child_tasks %}
                                    {% for grand in pikin.child_tasks %}
                                        <tr data-id="{{ grand.id }}" data-parent="{{ grand.parent_task }}">
                                            <td class="withBar">{{ grand.title }}</td>
                                            <td>₦{{ grand.budget }}</td>
                                            <td class="ongoing">{{ grand.statusText }}</td>
                                            <td>{{ grand.start_date }}</td>
                                            <td>{{ grand.deadline }}</td>
                                            <td class="actionBtn">
                                                <button class="task" data-toggle="modal" data-target=".subTask"><i class="fa fa-plus" aria-hidden="true"></i> Add Subtask</button>
                                            </td>
                                        </tr>
                                        {% if grand.child_tasks %}
                                            {% for great in grand.child_tasks %}
                                                <tr data-id="{{ great.id }}" data-parent="{{ great.parent_task }}">
                                                    <td class="withBar">{{ great.title }}</td>
                                                    <td>₦{{ great.budget }}</td>
                                                    <td class="ongoing">{{ great.statusText }}</td>
                                                    <td>{{ great.start_date }}</td>
                                                    <td>{{ great.deadline }}</td>
                                                    <td class="actionBtn"></td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="infoSectionWrap">
            <div class="infoSection">
                <div class="infoSec">
                    <div class="title">{{ project.completion }}% Completion</div>
                    <div class="content canvasFix">
                        <div class="chart" data-percent="{{ project.completion }}">{{ project.completion }}%</div>
                    </div>
                </div>
                <div class="infoSec">
                    <div class="title">Budget</div>
                    <div class="content price blue">
                        ₦{{ project.budget_limit }}
                    </div>
                </div>
                <div class="infoSec">
                    <div class="title">Amount Assigned</div>
                    <div class="content smallPrice pupple">
                        ₦{{ project.amount_spent }}
                    </div>
                </div>
                <div class="infoSec">
                    <div class="title">Amount Unassigned</div>
                    <div class="content smallPrice red">
                        ₦{{ project.amount_remaining }}
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>

<!-- Add new sub task -->
<div class="generalModal modal closeActivity" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div style="padding: 20px; font-size: 15px;">
            Are you sure you want to close this activity? This action can not be reversed!
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" id="closebg">Cancel</button>
            <button type="button" onclick="close_activity()" class="btn btn-danger btn-sm" data-dismiss="modal" id="closebg2"> <i class="fa fa-warning" aria-hidden="true"></i> Close Activity</button>
        </div>
    </div>
  </div>
</div>


<!-- Add new sub task -->
<div class="generalModal modal fade addSubTask" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <form method="post" id="addSubTaskForm" action="{{ request.path }}">
        {{ subform.csrf_token }}
        <input type="hidden" name="parent_id" id="parent_id" value="" />
        <div class="titleSection">
            <div class="cancel clearfix">
                <span class="title">Add new task</span>
                <i data-dismiss="modal" class="fa fa-times" aria-hidden="true"></i>
            </div>
            <input type="text" class="title" name="title" placeholder="Enter Title">
            <div class="assign clearfix">
                {{ subform.assigned_to(class_='assignTo', prompt='Assigned to') }}
                <button type="submit" name="subtask_submit" onclick="subform_submit()" data-dismiss="modal" class="save"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save & close</button>
            </div>
        </div>
        <div class="stateSection clearfix">
            <div class="col-md-8">
                <div class="form-wrap clearfix">
                    <div class="col-md-1 p-0">
                        <div class="title">Allocation</div>
                    </div>
                    <div class="col-md-11">
                        <input type="text" name="allocation" class="stateForm" placeholder="Amount(₦)">
                    </div>
                </div>
            </div>
        </div>
        <div class="descritpionSection clearfix">
            <div class="col-md-8">
                <div class="title">Description</div>
                <textarea name="description"></textarea>
            </div>
            <div class="col-md-4">
                <div class="title">Planning</div>
                <div class="planingForms">
                   <div class="title">Priority</div>
                   {{ subform.priority(class_='plan') }}
                </div>
                <div class="planingForms">
                   <div class="title">Start Date</div>
                   {{ subform.start_date(class_="datetimepicker plan") }}
                </div>
                <div class="planingForms">
                   <div class="title">End Date</div>
                   <input class="datetimepicker plan" name="end_date" type="text">
                </div>
            </div>
        </div>
    </form>
    </div>
  </div>
</div>

<!-- Add Task -->
<div class="generalModal modal fade addTask" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content clearfix">
    <form method="post" id="addTaskForm" action="{{ request.path }}">
        {{ form.csrf_token }}
        <div class="titleSection">
            <div class="cancel clearfix">
                <span class="title">Add new task</span>
                <i data-dismiss="modal" class="fa fa-times" aria-hidden="true"></i>
            </div>
            {{ form.title(class_='title', placeholder='Enter Title') }}
           
        </div>
        <div class="stateSection clearfix">
            <div class="col-md-12">
                <div class="form-wrap clearfix">
                    <div class="col-md-1 p-0">
                        <div class="title">Assign</div>
                    </div>
                    <div class="col-md-11">
                        <!-- {{ form.allocation(class_='stateForm', placeholder="Amount(₦)")}} -->
                        {{ form.assigned_to(class_='assignTo multiselect', multiple="multiple", prompt='Assigned to') }}
                    </div>
                </div>
            </div>
        </div>
        <div class="descritpionSection clearfix">
            <div class="col-md-12 p-0">
                <div class="col-md-6 sub0">
                    <div class="planingForms">
                        <div class="title">Budget</div> 
                        <select class="plan">
                            <option value="">--Select Budget--</option>
                            <option value="Operational">Operational Ex.</option>
                            <option value="Capital">Capital Ex.</option>
                            <option value="Consultancy">Consultancy</option>
                            <option value="Moveables">Moveables</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 sub1">
                    <div class="planingForms">
                        <div class="title">Budget</div> 
                        <select class="plan">
                            <option value="">--Select SubBudget--</option>
                            <option value="Operational">Operational Ex.</option>
                            <option value="Capital">Capital Ex.</option>
                            <option value="Consultancy">Consultancy</option>
                            <option value="Moveables">Moveables</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 sub2">
                    <div class="planingForms">
                        <div class="title">Budget</div> 
                        <select class="plan">
                            <option value="">--Select SubBudget--</option>
                            <option value="Operational">Operational Ex.</option>
                            <option value="Capital">Capital Ex.</option>
                            <option value="Consultancy">Consultancy</option>
                            <option value="Moveables">Moveables</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 sub3">
                    <div class="planingForms">
                        <div class="title">Budget</div> 
                        <select class="plan">
                            <option value="">--Select SubBudget--</option>
                            <option value="Operational">Operational Ex.</option>
                            <option value="Capital">Capital Ex.</option>
                            <option value="Consultancy">Consultancy</option>
                            <option value="Moveables">Moveables</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 sub4">
                    <div class="planingForms">
                        <div class="title">Budget</div> 
                        <select class="plan">
                            <option value="">--Select SubBudget--</option>
                            <option value="Operational">Operational Ex.</option>
                            <option value="Capital">Capital Ex.</option>
                            <option value="Consultancy">Consultancy</option>
                            <option value="Moveables">Moveables</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="planingForms">
                        <div class="title">Allocation</div> 
                        {{ form.allocation(class_='stateForm plan', placeholder="Amount(₦)")}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="planingForms">
                        <div class="title">Priority</div> 
                        {{ form.priority(class_='plan') }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="planingForms">
                        <div class="title">Start Date</div> 
                        {{ form.start_date(class_="datetimepicker plan") }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="planingForms">
                        <div class="title">End Date</div> 
                        {{ form.end_date(class_="datetimepicker plan") }}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="planingForms">
                        <div class="title">Note</div> 
                        {{ form.description() }}
                    </div>
                </div>
                
            </div>
            
        </div>
        {{ form.task_submit(value='True') }}
        <button type="submit" onclick="form_submit()" data-dismiss="modal" class="save"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save & close</button>
    </form>
    </div>
  </div>
</div>

<!-- Add Sub Task -->
<div class="modal fade editTask subTask" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="title clearfix">
            <span class="pull-left"> Add Subtask</span>
            <span data-dismiss="modal" aria-label="Close" class="pull-right"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
        <form method="post" id="updateTaskForm" action="{{ request.path }}">
            <div class="content clearfix">
                <div class="col-md-6">
                    <label for="">Name</label>
                    <input type="text" placeholder="Name">
                </div>
                <div class="col-md-6">
                    <label for="">Status</label>
                    <input type="text" placeholder="Status">
                </div>
                <div class="col-md-12">
                    <label for="">Note</label>
                    <textarea name="note" id="" cols="30" rows="10"></textarea>
                </div>
            </div>
            <div class="buttonWrap">
                <button type="submit" onclick="form_submit()"  data-dismiss="modal" class="save"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save &amp; close</button>
            </div>
        </form>
    </div>
  </div>
</div>


<script type="text/javascript">
$(document).on("click", ".task", function(){
    var parent_id = $(this).data('id');

    $("#parent_id").val(parent_id);
});

function form_submit() {
    document.getElementById("addTaskForm").submit();
   }

function subform_submit() {
    document.getElementById("addSubTaskForm").submit();
   }

function close_project(){
    // redirect to url

}

    $('#closebg, #closebg2').click(function(){
        $('#closebg').modal('hide');
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
    })

    $('.planingForms .plan').on('change',function(){
        if( $(this).val()==="Operational"){
        $(".sub1").show()
        }
        else{
        $(".sub1").hide()
        }
    });

    $('.sub0 .plan').on('change',function(){
        if( $(this).val()==="Operational"){
        $(".sub1").show()
        }
        else{
        $(".sub1").hide()
        }
    });
    $('.sub1 .plan').on('change',function(){
        if( $(this).val()==="Capital"){
        $(".sub2").show()
        $(".sub1").show()
        }
        else{
        $(".sub2").hide()
        }
    });
    $('.sub2 .plan').on('change',function(){
        if( $(this).val()==="Consultancy"){
        $(".sub3").show()
        $(".sub1").show()
        $(".sub2").show()
        }
        else{
        $(".sub3").hide()
        }
    });
    $('.sub3 .plan').on('change',function(){
        if( $(this).val()==="Moveables"){
        $(".sub4").show()
        $(".sub3").show()
        $(".sub2").show()
        $(".sub1").show()
        }
        else{
        $(".sub4").hide()
        }
    });

</script>
{% endblock %}