{% extends "layout.html" %}

{% block secondLayer %}
<div class="secondLayer dontprint">
    <div class="wrapper">
        <ul>
            <li>
                <a class="{% if request.path == '/dashboard'%} active {% endif %}" href="{{ url_for('.budget_overview')}}">Overview</a>
            </li>
            <li>
                <a class="{% if request.path == '/manage-budget'%} active {% endif %}" href="{{ url_for('.manage_budget')}}">Budgets</a>
            </li>
            <li>
                <a class="{% if request.path == '/budget-details'%} active {% endif %}" href="{{ url_for('.budget_details')}}">Budget Details</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
{% block body %}
<div class="backlogs" style="background-color: #efefef; height: 70em;">
    <div class="wrapper clearfix">
        <div class="dashboardWrap">
            <div class="col-md-8">
                <div class="barSection">
                <div class="title">Budget</div>
                    <div class="barContent">
                        <div id="bar-chart" style="height: 300px;"></div>
                    </div>
                </div>
            </div>    
            <div class="col-md-4">
                <div class="pieSection">
                    <div class="title">Total Budget</div><br><br>
                    <div class="pieContent">
                        <div id="pie-chart" style="height: 250px;"></div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>



<script>

    $(function ()  
    {
        var dataSource = [];

        {% for b in budget.main_subs %}
            dataSource.push({ budget: "{{ b.name }}", budgeted: {{ b.get_allocation }}, performed: {{ b.amount_allocated }} });
        {% endfor %}



        $("#chartContainer").dxChart({
            dataSource: dataSource,
            commonSeriesSettings: {
                argumentField: "budget",
                type: "bar",
                hoverMode: "allArgumentPoints",
                selectionMode: "allArgumentPoints",
                label: {
                    visible: true,
                    format: "fixedPoint",
                    precision: 0
                }
            },
            series: [
                { valueField: "budgeted", name: "budgeted" },
                { valueField: "performed", name: "performed" }
            ],
            title: "{{ budget.name }}",
            legend: {
                verticalAlignment: "bottom",
                horizontalAlignment: "center"
            },
            pointClick: function (point) {
                this.select();
            }
        });
    }

    );
</script>

<script>
    $(function ()  
    {
        var dataSource = [];

        {% for b in budget.main_subs %}
            dataSource.push({ country: "{{ b.name }}", area: {{b.get_allocation}} });
        {% endfor %}

        $("#pieContainer").dxPieChart({
            size:{ 
                width: 400
            },
            dataSource: dataSource,
            series: [
                {
                    argumentField: "country",
                    valueField: "area",
                    label:{
                        visible: true,
                        format: "fixedPoint",
                        connector:{
                            visible:true,           
                            width: 1
                        }
                    }
                }
            ],
            title: "Total Budget",
            legend: {
                verticalAlignment: "bottom",
                horizontalAlignment: "center"
            },
        });
    }

    );

</script>


{% endblock %}

{% block extraJs %}

<script>
     var data = [
          { y: 'Capital Ex.', a: 2000000, b: 100000 },
          { y: 'Consultancy', a: 1500000, b: 75 },
          { y: 'Movables', a: 1000000, b: 50 },
          { y: 'Operational Ex.', a: 2000000, b: 60 }
          
            ],
        config = {
            data: data,
            xkey: 'y',
            ykeys: ['a', 'b'],
            labels: ['Budgeted', 'Performed'],
            fillOpacity: 0.6,
            hideHover: 'auto',
            behaveLikeLine: true,
            resize: true,
            pointFillColors: ['#ffffff'],
            pointStrokeColors: ['black'],
            lineColors: ['gray', 'red']
        };

            config.element = 'bar-chart';
            Morris.Bar(config);
            Morris.Donut({
                element: 'pie-chart',
                data: [
                  { label: "Capital Ex.", value: 200000 },
                  { label: "Consultancy", value: 1500000 },
                  { label: "Movables", value: 1000000 },
                  { label: "Operational Ex.", value: 2000000 }
                ]
        });
</script>

{% endblock %}