{% extends "layout.html" %}
{% block secondLayer %}
<div class="secondLayer">
    <div class="wrapper">
        <ul>
            <li>
                <a class="{% if request.path == '/periods'%} active {% endif %}" href="{{ url_for('.periods')}}">Period Settings</a>
            </li>
            <li>
                <a class="{% if request.path == '/user-settings'%} active {% endif %}" href="{{ url_for('.user_settings')}}">User Settings</a>
            </li>
            <li>
                <a class="{% if request.path == '/departments'%} active {% endif %}" href="{{ url_for('.departments')}}">Department Settings</a>
            </li>
            <li>
                <a class="{% if request.path == '/budgets'%} active {% endif %}" href="{{ url_for('.budgets')}}">Budget Settings</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}



{% block body %}
<!-- Budget Settings modal -->
<div class="modal fade editTask budgetSettings" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="title clearfix">
            <span class="pull-left">Buudget Settings</span>
            <span data-dismiss="modal" aria-label="Close" class="pull-right"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
        <form method="post"  class="clearfix">
            {{ form.csrf_token }}
            <div class="content clearfix">
                <div class="col-md-6">
                    <label for="">Budget Name</label>
                    <input type="text" name="name" class="form-control" placeholder="Department Name" required>
                </div>  

                <div class="col-md-6">
                    <label for="">Period</label>
                    {{ form.period(class_='form-control', required="required") }}
                </div> 

                <div class="col-md-6">
                    <label for="">Allocation</label>
                    <input type="text" name="allocation" class="form-control" placeholder="Allocation" required>
                </div> 

                <div class="col-md-6">
                    <label for="">Budget Type</label>
                    {{ form.budget_type(class_='form-control', required="required") }}
                </div> 

                
            </div>
            <div class="buttonWrap">
                <button type="submit" data-dismiss="modal" class="cancel"><i class="fa fa-times" aria-hidden="true"></i> Close</button>

                <button type="submit" class="save"><i class="fa fa-floppy-o" aria-hidden="true"></i>  Save</button>
                
            </div>
        </form>
    </div>
  </div>
</div>
<div class="details">
    <div class="wrapper">
        <div class="settings">
        <div class="dHeading clearfix">
            <div class="title pull-left">Budget Settings</div>
            <a href="#" class="adding pull-right" data-toggle="modal" data-target=".budgetSettings">Add Budget</a>
        </div>
            <div class="col-md-12">
                <table class="assignedTask full dotted mt-30">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Budget</th>
                            <th>Allocation</th>
                            <th>Period</th>
                            <th>Budget Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for b in budgets %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ b.name }}</td>
                            <td>{{ b.allocation }}</td>
                            <td>{{ b.period.name }}</td>
                            <td>{{ b.budget_type_text }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}