{% extends "layout.html" %}

{% block secondLayer %}
<div class="secondLayer">
    <div class="wrapper">
        <ul>
            <li>
                <a class="{% if request.path == '/dashboard'%} active {% endif %}" href="{{ url_for('.budget_overview')}}">Overview</a>
            </li>
            <li>
                <a class="{% if request.path == '/manage-budget'%} active {% endif %}" href="{{ url_for('.manage_budget')}}">Budgets</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
{% block body %}
<div class="backlogs">
    <div class="wrapper clearfix">
        <div class="dashboardWrap">
            <div class="col-md-8">
                <div class="barSection">
                    <div class="barContent">
                        <div id="chartContainer" style="width: 100%; height: 400px;"></div>
                    </div>
                </div>
            </div>    
            <div class="col-md-4">
                <div class="pieSection">
                    <div class="pieContent">
                        <div id="pieContainer" style="width: 100%; height: 400px;"></div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>



<script>

    $(function ()  
    {
        var dataSource = [];

        {% for b in budget.main_subs %}
            dataSource.push({ budget: "{{ b.name }}", budgeted: {{ b.get_allocation }}, performed: {{ b.amount_allocated }} });
        {% endfor %}



        $("#chartContainer").dxChart({
            dataSource: dataSource,
            commonSeriesSettings: {
                argumentField: "budget",
                type: "bar",
                hoverMode: "allArgumentPoints",
                selectionMode: "allArgumentPoints",
                label: {
                    visible: true,
                    format: "fixedPoint",
                    precision: 0
                }
            },
            series: [
                { valueField: "budgeted", name: "budgeted" },
                { valueField: "performed", name: "performed" }
            ],
            title: "{{ budget.name }}",
            legend: {
                verticalAlignment: "bottom",
                horizontalAlignment: "center"
            },
            pointClick: function (point) {
                this.select();
            }
        });
    }

    );
</script>

<script>
    $(function ()  
    {
        var dataSource = [];

        {% for b in budget.main_subs %}
            dataSource.push({ country: "{{ b.name }}", area: {{b.get_allocation}} });
        {% endfor %}

        $("#pieContainer").dxPieChart({
            size:{ 
                width: 400
            },
            dataSource: dataSource,
            series: [
                {
                    argumentField: "country",
                    valueField: "area",
                    label:{
                        visible: true,
                        format: "fixedPoint",
                        connector:{
                            visible:true,           
                            width: 1
                        }
                    }
                }
            ],
            title: "Total Budget",
            legend: {
                verticalAlignment: "bottom",
                horizontalAlignment: "center"
            },
        });
    }

    );
</script>


{% endblock %}