{% extends "layout.html" %}
{% block secondLayer %}
<div class="secondLayer">
    <div class="wrapper">
        <ul>
            <li>
                <a class="{% if request.path == '/change_password' %} active {% endif %}" href="{{ url_for('.change_password')}}">Change Password</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
{% block body %}

<div id="loginPage">
    <div class="container-fluid p-0">
        <div class="form_wrp" style="margin-top: 10em;">
           <div class="d_form" style="border: 1px solid #ddd; box-shadow: none;">
              <form method="post">
                 <div class="formWrap clearfix">
                     <label>Old Password</label>
                     <input type="text" placeholder="Old Password" name="Old Password" required>
                 </div>
                 <div class="formWrap clearfix">
                     <label>New Password</label>
                     <input type="text" placeholder="New Password" name="New Password" required>
                  </div>
                 <button type="submit" class="submit btn btn-success">Login</button>
             </form>
           </div>
        </div>
    </div>
</dix>

{% endblock %}