{% extends "layout.html" %}
{% block secondLayer %}
<div class="secondLayer">
    <div class="wrapper">
        <ul>
            <li>
                <a class="{% if request.path == '/periods'%} active {% endif %}" href="{{ url_for('.periods')}}">Period Settings</a>
            </li>
            <li>
                <a class="{% if request.path == '/user-settings'%} active {% endif %}" href="{{ url_for('.user_settings')}}">User Settings</a>
            </li>
            <li>
                <a class="{% if request.path == '/departments'%} active {% endif %}" href="{{ url_for('.departments')}}">Department Settings</a>
            </li>
            <li>
                <a class="{% if request.path == '/budgets'%} active {% endif %}" href="{{ url_for('.budgets')}}">Budget Settings</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}



{% block body %}
<div class="modal fade editTask editRepartment{{ dept.name }}</" tabindex="-1" role="dialog" aria-labelledby="editRepartment">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="title clearfix">
            <span class="pull-left">Edit {{ dept.name }}</span>
            <span data-dismiss="modal" aria-label="Close" class="pull-right"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
        <form method="post"  class="clearfix">
            {{ form.csrf_token }}
            <div class="content clearfix">
                <div class="col-md-12">
                    <label for="">User Name</label>
                    <input type="text" name="name" value="{{ dept.name }}" class="form-control" placeholder="Department Name">
                </div>       
            </div>
            <div class="buttonWrap">
                <button type="submit" data-dismiss="modal" class="cancel"><i class="fa fa-times" aria-hidden="true"></i> Close</button>

                <button type="submit" class="save"><i class="fa fa-floppy-o" aria-hidden="true"></i>  Save</button>
                
            </div>
        </form>
    </div>
  </div>
</div>

<div class="details">
    <div class="wrapper">
        <div class="settings">
        <div class="dHeading clearfix">
                <div class="title pull-left">User Settings</div>
                <a href="#" class="adding pull-right" data-toggle="modal" data-target=".editTask">Add User</a>
            </div>
            <div class="col-md-12">
                <table class="assignedTask full dotted mt-30">
                    <thead>
                        <tr>
                            <th>Departments</th>
                            <th>No. of Members</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in departments %}
                        <tr>
                            <td>{{ d.name }}</td>
                            <td>{{ d.member_count }}</td>
                            <td>
                         
                                <a class="activated " data-toggle="modal" data-target=".editTask" href="#">Edit</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}