{% extends "layout.html" %}
{% block header %}
{% endblock %}
{% block loginImage %} style="background-color: #fbfbfb;"{% endblock %}
{% block flask %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
          {% if category == 'success' %}
            <div class="alert" style="top: 0">
              <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
              <span><strong>Success!</strong> {{ message }}</span>
            </div>
          {% else %}
            <div class="alert alert-danger" style="top: 0">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <span><strong>Error!</strong> {{ message }}</span>
            </div>
          {% endif %}
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endblock %}
{% block body %}     
<div id="loginPage">
    <div class="container-fluid p-0">
        <div class="form_wrp">
          <div class="logo">budget</div>
           <div class="d_form">
              <form method="post">
                 {{ form.csrf_token }}
                 <div class="formWrap clearfix">
                     <label>Name</label>
                     <input type="text" placeholder="Username" name="username" required>
                 </div>
                 <div class="formWrap clearfix">
                     <label>Password</label>
                     <input type="password" placeholder="Password" name="password" required>
                 </div>
                 <button type="submit" class="submit btn btn-success">Login</button>
             </form>
           </div>
        </div>
    </div>
</dix>
{% endblock %}

