{% extends "layout.html" %}

{% block secondLayer %}
<div class="secondLayer">
    <div class="wrapper">
        <ul>
            <li>
                <a class="{% if request.path == '/dashboard'%} active {% endif %}" href="{{ url_for('.budget_overview')}}">Overview</a>
            </li>
            <li>
                <a class="{% if request.path == '/manage-budget'%} active {% endif %}" href="{{ url_for('.manage_budget')}}">Budgets</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block body %}

<div class="backlogs">
    <div class="wrapper clearfix">
        <div class="budgetSectionWrap">
            <div class="topInfoSec">
                <div class="col-md-4 pl-0">
                    <div class="title">
                        <span class="caption">Budget Title</span>
                        <span class="dTitle blue">Bulding The Wall</span>
                    </div>
                </div>
                <div class="col-md-8 right-text">
                    <div class="title">
                        <span class="caption">Budgeted Amount</span>
                        <span class="dTitle blue"> ₦{{ budget.total_budget }}</span>
                    </div>
                    <div class="title">
                        <span class="caption">Amount Assigned</span>
                        <span class="dTitle pupple">₦27100</span>
                    </div>
                    <div class="title">
                        <span class="caption">Amount Unassigned</span>
                        <span class="dTitle red">₦72900</span>
                    </div>
                </div>
            </div>
    <table class="taskTable collaptable">
    <thead>
        <tr>
            <th>S/N</th>
            <th>Title</th>
            <th>Allocation</th>
            <th>Amount Performed</th>
            <th>Date Created</th>
            <!-- <th colspan="2"></th> -->
        </tr>
    </thead>
    <tbody class="budgetlist">
        {% for sub in budget.main_subs %}
        {% if sub.parent_budget %}
            <tr data-id="{{ sub.id }}" data-parent="">
        {% else %}
            <tr data-id="{{ sub.id }}" data-parent="">
        {% endif %}
            <td>{{ loop.index }}</td>
            <td class="withBar">{{ sub.name }}</td>
            <td>₦{{ sub.get_allocation }}</td>
            <td>₦{{ sub.amount_allocated }}</td>
            <td>{{ sub.date_created }}</td>
            <td class="actionBtn">
                <button class="task edit" data-bind="click: function(){ editBudget({{ sub.id }}); }"><i class="fa fa-edit" aria-hidden="true"></i> Edit</button>
                <button class="task" data-bind="click: function(){ addBudget({{ sub.id }}); }"><i class="fa fa-plus" aria-hidden="true"></i> Add Budget</button>
            </td>
            <!-- <td class="actionBtn">
                <button class="task" data-bind="click: function(){ addBudget({{ sub.id }}); }"><i class="fa fa-plus" aria-hidden="true"></i> Add Budget</button>
            </td> -->
            <!-- <td class="actionBtn">
                <button class="task sub act-more act-collapsed"><i class="fa fa-eye" aria-hidden="true"></i> View Subtask</button>
            </td> -->
        </tr>
        {% endfor %}
    </tbody>
</table>
        </div>
    </div>
</div>


<!-- Add Task -->
<!-- <div class="generalModal modal fade addBudget" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <form method="post" id="addBudgetForm" action="{{ request.path }}">
        {{ form.csrf_token }}
        {{ form.parent_id(id='parent_id', **{'data-bind': 'value: parent_id'}) }}
        <div class="titleSection">
            <div class="cancel clearfix">
                <span class="title" data-bind="text: form_title"></span>
                <i data-dismiss="modal" class="fa fa-times" aria-hidden="true"></i>
            </div>
            <div class="stateSection clearfix">
                <div class="col-md-8">
                    <div class="form-wrap clearfix">
                        <div class="col-md-1 p-0">
                            <div class="title">Name</div>
                        </div>
                        <div class="col-md-11">
                            {{ form.name(class_='title', placeholder='Enter Name') }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="stateSection clearfix">
                <div class="col-md-8">
                    <div class="form-wrap clearfix">
                        <div class="col-md-1 p-0">
                            <div class="title">Allocation</div>
                        </div>
                        <div class="col-md-11">
                            {{ form.allocation(class_='title', placeholder='Enter Allocation') }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="assign clearfix">
                <button type="submit" onclick="form_submit()" data-dismiss="modal" class="save"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save & close</button>
            </div>
        </div>
    </div>
  </div>
</div> -->

<!-- Edit Budget modal -->
<div class="modal fade editTask addBudget" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="title clearfix">
            <span class="pull-left" >Add Budget</span>
            <span data-dismiss="modal" aria-label="Close" class="pull-right"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
        <form method="post" id="addBudgetForm" action="{{ request.path }}">
            {{ form.csrf_token }}
            {{ form.parent_id(id='parent_id', **{'data-bind': 'value: parent_id'}) }}
            <div class="content clearfix">
                <div class="col-md-6">
                    <label for="">Name</label>
                    {{ form.name(class_='title', placeholder='Enter Name') }}
            
                </div>  
                <div class="col-md-6">
                    <label for="">Allocation</label>
                    {{ form.allocation(class_='title', placeholder='Enter Allocation') }}
                </div>

            </div>
            <div class="buttonWrap">
                 <button type="submit" onclick="form_submit()" data-dismiss="modal" class="save"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save & close</button>
            </div>
        </form>
    </div>
  </div>
</div>


<!-- Edit Task modal -->
<div class="modal fade editTask editBudget" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="title clearfix">
            <span class="pull-left" >Edit</span>
            <span data-dismiss="modal" aria-label="Close" class="pull-right"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
        <form method="post" id="editBudgetForm" action="{{ request.path }}">
            {{ editform.csrf_token }}
            {{ editform.sub_budget_id(**{'data-bind': 'value: sub_budget_id'}) }}
            <div class="content clearfix">
                <div class="col-md-6">
                    <label for="">Name</label>
                    {{ form.name(class_='title', **{'data-bind': 'value: name'}) }}
            
                </div>  
                <div class="col-md-6">
                    <label for="">Allocation</label>
                    {{ form.allocation(class_='title', **{'data-bind': 'value: allocation'})}}
                </div>

            </div>
            <div class="buttonWrap">
                 <button type="submit" onclick="editform_submit()" data-dismiss="modal" class="save"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save & close</button>
            </div>
        </form>
    </div>
  </div>
</div>
<script type="text/javascript">
/* for form submission */
function form_submit() {
    document.getElementById("addBudgetForm").submit();
   }
function editform_submit() {
    document.getElementById("editBudgetForm").submit();
   }
</script>
<script type="text/javascript">
/* knockoutjs view models */

function AddBudgetModel(){
    var self = this;
    self.parent_id = ko.observable();
    self.form_title = ko.observable();

    self.loadForm = function(budget){
        self.parent_id(budget.id);
        self.form_title("Add budget under "+ budget.name);
        $('.addBudget').modal('show');
    }
}


function ShowEditBudgetModel(){
    var self = this;
    self.name = ko.observable();
    self.allocation = ko.observable();
    self.sub_budget_id = ko.observable(0);

    self.update = function(budget){
        self.name(budget.name);
        self.allocation(budget.allocation);
        self.sub_budget_id(budget.id);
        /* show modal */
        $('.editBudget').modal('show');
    }
}

function FetchBudgetModel() {
    var self = this;

    self.budgetURI = 'http://localhost:9000/api/v1.0/budgets/get';

    /* make ajax request */
    self.ajax = function(uri, method, data){
        var request = {
            url: uri,
            type: method,
            contentType: "application/json",
            accepts: "application/json",
            cache: true,
            dataType: 'json',
            data: JSON.stringify(data),
            error: function(jqXHR) {
                console.log("ajax error " + jqXHR.status);
            }
        };
        return $.ajax(request);
    }

    self.editBudget = function(budget_id){
        var url = self.budgetURI + '/' + budget_id;
        self.ajax(url, 'GET').done(function(data){
              showEdit.update(data.sub);
            }
        );
    }

    self.addBudget = function(budget_id){
        var url = self.budgetURI + '/' + budget_id;
        self.ajax(url, 'GET').done(function(data){
                addNewBudget.loadForm(data.sub);
            }
        );
    }

}

var fetchTask = new FetchBudgetModel();
var showEdit = new ShowEditBudgetModel();
var addNewBudget = new AddBudgetModel();
ko.applyBindings(fetchTask, $('.budgetlist')[0]);
ko.applyBindings(showEdit, $('.editBudget')[0]);
ko.applyBindings(addNewBudget, $('.addBudget')[0]);
</script>
{% endblock %}