{% extends "layout.html" %}

{% block secondLayer %}
<div class="secondLayer">
    <div class="wrapper">
        <ul>
            <li>
                <a class="{% if request.path == '/dashboard'%} active {% endif %}" href="{{ url_for('.budget_overview')}}">Overview</a>
            </li>
            <li>
                <a class="{% if request.path == '/manage-budget'%} active {% endif %}" href="{{ url_for('.manage_budget')}}">Budgets</a>
            </li>
            <li>
                <a class="{% if request.path == '/budget-details'%} active {% endif %}" href="{{ url_for('.budget_details')}}">Budget Details</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block body %}

<div class="backlogs">
    <div class="wrapper clearfix">
        <div class="budgetSectionWrap">
            <div class="topInfoSec">
                <div class="col-md-4 pl-0">
                    <div class="title">
                        <span class="caption">Budget Title</span>
                        <span class="dTitle blue">{{ budget.title }}</span>
                    </div>
                </div>
                <div class="col-md-8 right-text">
                    <div class="title">
                        <span class="caption">Budgeted Amount</span>
                        <span class="dTitle blue"> ₦{{ budget.total_budget }}</span>
                    </div>
                    <div class="title">
                        <span class="caption">Amount Assigned</span>
                        <span class="dTitle pupple">₦{{ budget.amount_allocated }}</span>
                    </div>
                    <div class="title">
                        <span class="caption">Amount Unassigned</span>
                        <span class="dTitle red">₦{{ budget.budget_difference}}</span>
                    </div>
                </div>
            </div>
    <table class="taskTable collaptable">
    <thead>
        <tr>
            <th>Title</th>
            <th>Allocation</th>
            <th>Amount Performed</th>
            <th>Date Created</th>
            <th>Status</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody class="budgetlist">
        {% for sub in budget.main_subs %}
            <tr data-id="{{ sub.id }}" data-parent="">
                <td class="withBar">{{ sub.name }}</td>
                <td>₦{{ sub.get_allocation }}</td>
                <td>₦{{ sub.amount_allocated }}</td>
                <td>{{ sub.date_created_string.date }}</td>
                <td>{{ sub.statusText }}</td>
                <td class="actionBtn">
                    <button class="task edit" data-bind="click: function(){ editBudget({{ sub.id }}); }"><i class="fa fa-edit" aria-hidden="true"></i> Edit</button>
                    <button class="task" data-bind="click: function(){ viewBudget({{ sub.id }}); }"><i class="fa fa-folder-open-o" aria-hidden="true"></i> View</button>
                </td>
            </tr>
            {% if sub.child_budgets %}
                {% for kid in sub.child_budgets %}
                    <tr data-id="{{ kid.id }}" data-parent="{{ kid.parent_budget }}">
                        <td class="withInnerBar innerShift">{{ kid.name }}</td>
                        <td>₦{{ kid.get_allocation }}</td>
                        <td>₦{{ kid.amount_allocated }}</td>
                        <td>{{ kid.date_created_string.date }}</td>
                        <td>{{ kid.statusText }}</td>
                        <td class="actionBtn">
                            <button class="task edit" data-bind="click: function(){ editBudget({{ kid.id }}); }"><i class="fa fa-edit" aria-hidden="true"></i> Edit</button>
                            <button class="task" data-bind="click: function(){ viewBudget({{ kid.id }}); }"><i class="fa fa-folder-open-o" aria-hidden="true"></i> View</button>
                            {% if kid.status == 0 %}
                                <a href="{{ url_for('.toggle_budget_status', id=kid.id, action=1)}}"><button class="warning"><i class="fa fa-warning" aria-hidden="true"></i> Freeze Budget</button></a>
                            {% else %}
                                <a href="{{ url_for('.toggle_budget_status', id=kid.id, action=0)}}"><button><i class="fa fa-warning" aria-hidden="true"></i> Unfreeze Budget</button></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% if kid.child_budgets %}
                        {% for grand in kid.child_budgets %}
                            <tr data-id="{{ grand.id }}" data-parent="{{ grand.parent_budget }}">
                                <td class="withInnerinnerBar innerInnerShift">{{ grand.name }}</td>
                                <td>₦{{ grand.get_allocation }}</td>
                                <td>₦{{ grand.amount_allocated }}</td>
                                <td>{{ grand.date_created_string.date }}</td>
                                <td>{{ grand.statusText }}</td>
                                <td class="actionBtn">
                                    <button class="task edit" data-bind="click: function(){ editBudget({{ grand.id }}); }"><i class="fa fa-edit" aria-hidden="true"></i> Edit</button>
                                    <button class="task" data-bind="click: function(){ viewBudget({{ grand.id }}); }"><i class="fa fa-folder-open-o" aria-hidden="true"></i> View</button>
                                    {% if grand.status == 0 %}
                                        <a href="{{ url_for('.toggle_budget_status', id=grand.id, action=1)}}"><button class="warning"><i class="fa fa-warning" aria-hidden="true"></i> Freeze Budget</button></a>
                                    {% else %}
                                        <a href="{{ url_for('.toggle_budget_status', id=grand.id, action=0)}}"><button><i class="fa fa-warning" aria-hidden="true"></i> Unfreeze Budget</button></a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% if grand.child_budgets %}
                                {% for great in grand.child_budgets %}
                                    <tr data-id="{{ great.id }}" data-parent="{{ great.parent_budget }}">
                                        <td class="withInnerinnerBar innerInnerInnerShift">{{ great.name }}</td>
                                        <td>₦{{ great.get_allocation }}</td>
                                        <td>₦{{ great.amount_allocated }}</td>
                                        <td>{{ great.date_created_string.date }}</td>
                                        <td>{{ great.statusText }}</td>
                                        <td class="actionBtn">
                                            <button class="task edit" data-bind="click: function(){ editBudget({{ great.id }}); }"><i class="fa fa-edit" aria-hidden="true"></i> Edit</button>
                                            <button class="task" data-bind="click: function(){ viewBudget({{ great.id }}); }"><i class="fa fa-folder-open-o" aria-hidden="true"></i> View</button>
                                            {% if great.status == 0 %}
                                                <a href="{{ url_for('.toggle_budget_status', id=great.id, action=1)}}"><button class="warning"><i class="fa fa-warning" aria-hidden="true"></i> Freeze Budget</button></a>
                                            {% else %}
                                                <a href="{{ url_for('.toggle_budget_status', id=great.id, action=0)}}"><button><i class="fa fa-warning" aria-hidden="true"></i> Unfreeze Budget</button></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>
        </div>
    </div>
</div>

<!-- Edit Budget modal -->
<div class="modal fade editTask addBudget" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="title clearfix">
            <span class="pull-left" >Add Budget</span>
            <span data-dismiss="modal" aria-label="Close" class="pull-right"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
        <form method="post" id="addBudgetForm" action="{{ request.path }}">
            {{ form.csrf_token }}
            {{ form.parent_id(id='parent_id', **{'data-bind': 'value: parent_id'}) }}
            <div class="content clearfix">
                <div class="col-md-6">
                    <label for="">Name</label>
                    {{ form.name(class_='title', placeholder='Enter Name') }}
            
                </div>  
                <div class="col-md-6">
                    <label for="">Allocation</label>
                    {{ form.allocation(class_='title', placeholder='Enter Allocation') }}
                </div>

            </div>
            <div class="buttonWrap">
                 <button type="submit" onclick="form_submit()" data-dismiss="modal" class="save"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save & close</button>
            </div>
        </form>
    </div>
  </div>
</div>


<!-- Edit Task modal -->
<div class="modal fade editTask editBudget" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="title clearfix">
            <span class="pull-left" >Edit</span>
            <span data-dismiss="modal" aria-label="Close" class="pull-right"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
        <form method="post" id="editBudgetForm" action="{{ request.path }}">
            {{ editform.csrf_token }}
            {{ editform.sub_budget_id(**{'data-bind': 'value: sub_budget_id'}) }}
            <div class="content clearfix">
                <div class="col-md-6">
                    <label for="">Name</label>
                    {{ form.name(class_='title', id='editName', **{'data-bind': 'value: name, enable: isEditable'}) }}
            
                </div>  
                <div class="col-md-6">
                    <label for="">Allocation</label>
                    {{ form.allocation(class_='title', **{'data-bind': 'value: allocation'})}}
                </div>

            </div>
            <div class="buttonWrap">
                 <button type="submit" onclick="editform_submit()" data-dismiss="modal" class="save"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save & close</button>
            </div>
        </form>
    </div>
  </div>
</div>


<!-- View Budget modal -->
<div class="modal fade taskDetails showDetails" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="title clearfix">
            <span class="pull-left" >Budget Details</span>
            <span data-dismiss="modal" aria-label="Close" class="pull-right"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
        <div class="content clearfix">
            <table class="detailTable">
                <tr>
                    <th>Budget Name</th>
                </tr>
                <tr>
                    <td data-bind="text: budget_name"></td>
                </tr>
            </table>
            <table class="moreDetailTable">
                <tr>
                    <td>Budget Allocation</td>
                    <td data-bind="text: allocation"></td>
                </tr>
                <tr>
                    <td>Total Allocation</td>
                    <td data-bind="text: total_allocation"></td>
                </tr>
                <tr>
                    <td>Activity Count</td>
                    <td data-bind="text: activityCount"></td>
                </tr>
                <tr>
                    <td>Current Status</td>
                    <td data-bind="text: statusText"></td>
                </tr>
            </table>
            <label class="myLabel">Sub Budgets</label>
            <div data-bind="if: subs_array().length == 0">
                <p>There are no sub budgets to display</p>
            </div>
            <table style="width:100%" data-bind="if: subs_array().length > 0">
                <tr>
                    <th>Sub Budget</th>
                    <th>Allocation</th>
                    <th>Status</th>
                </tr>
                <!-- ko foreach: subs_array -->
                <tr>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: allocation"></td>
                    <td data-bind="text: statusText"></td>
                </tr>
                <!-- /ko -->
            </table>
            <br/>
            <label class="myLabel">Add Sub Budget</label>
            <div>
                <form data-bind="submit: createSub">
                    <div>
                        <div class="col-md-6">
                            <label for="">Name</label>
                            <input type="text" data-bind="value: new_budget" name="new_budget" class="title" required>

                        </div>
                        <div class="col-md-6">
                            <label for="">Allocation</label>
                            <input type="number" data-bind="value: new_allocation" name="new_allocation" class="title" required>
                        </div>
                    </div>
                    <div class="buttonWrap">
                        <button type="submit" class="save"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>

<script type="text/javascript">
/* knockoutjs view models */
function AddBudgetModel(){
    var self = this;
    self.parent_id = ko.observable();
    self.form_title = ko.observable();

    self.loadForm = function(budget){
        // reset edit form
        showEdit.clear_fields();
        self.parent_id(budget.id);
        self.form_title("Add budget under "+ budget.name);
        $('.addBudget').modal('show');
    }

    self.clear_fields = function(){
        self.parent_id(null);
    }
}

function ShowEditBudgetModel(){
    var self = this;
    self.name = ko.observable();
    self.allocation = ko.observable();
    self.sub_budget_id = ko.observable(0);
    self.isEditable = ko.observable(true);

    self.update = function(budget){
        addNewBudget.clear_fields();
        self.name(budget.name);
        self.allocation(budget.allocation);
        self.sub_budget_id(budget.id);
        console.log(budget.editable);

        if(budget.editable == false){
            self.isEditable(false);
        }else{
            self.isEditable(true);
        }

        /* show modal */
        $('.editBudget').modal('show');
    }

    self.clear_fields = function(){
        self.name(null);
        self.allocation(null);
        self.sub_budget_id(0);
    }
}

function FetchBudgetModel() {
    var self = this;

    self.budgetURI = 'http://localhost:9000/api/v1.0/budgets/get';

    /* make ajax request */
    self.ajax = function(uri, method, data){
        var request = {
            url: uri,
            type: method,
            contentType: "application/json",
            accepts: "application/json",
            cache: true,
            dataType: 'json',
            data: JSON.stringify(data),
            error: function(jqXHR) {
                console.log("ajax error " + jqXHR.status);
            }
        };
        return $.ajax(request);
    }

    self.editBudget = function(budget_id){
        var url = self.budgetURI + '/' + budget_id;
        self.ajax(url, 'GET').done(function(data){
              showEdit.update(data.sub);
            }
        );
    }

    self.addBudget = function(budget_id){
        var url = self.budgetURI + '/' + budget_id;
        self.ajax(url, 'GET').done(function(data){
                addNewBudget.loadForm(data.sub);
            }
        );
    }

    self.viewBudget = function(budget_id){
        var url = self.budgetURI + '/' + budget_id;
        self.ajax(url, 'GET').done(function(data){
                showBudget.showDetails(data.sub);
            }
        );
    }

}

function ViewBudgetModel(){
    var self = this;
    self.budget_id = ko.observable();
    self.budget_name = ko.observable();
    self.allocation = ko.observable();
    self.total_allocation = ko.observable();
    self.total = ko.observable();
    self.statusText = ko.observable();
    self.activityCount = ko.observable();
    self.subs_array = ko.observableArray();

    self.new_budget = ko.observable();
    self.new_allocation = ko.observable();
    self.createSubURI = 'http://localhost:9000/api/v1.0/budgets/create-sub';

    /* make ajax request */
    self.ajax = function(uri, method, data){
        var request = {
            url: uri,
            type: method,
            contentType: "application/json",
            accepts: "application/json",
            cache: true,
            dataType: 'json',
            data: JSON.stringify(data),
            error: function(jqXHR) {
                console.log("ajax error " + jqXHR.status);
            }
        };
        return $.ajax(request);
    }


    self.showDetails = function(budget){
        // reset edit form
        self.clearFields();
        self.budget_id(budget.id);
        self.budget_name(budget.name);
        self.allocation('₦'+budget.allocation);
        self.total_allocation('₦'+budget.total_allocation);
        self.total(budget.total_allocation);
        self.statusText(budget.statusText);
        self.activityCount(budget.activityCount);

        for (var i = 0; i < budget.subs.length; i++) {
            self.subs_array.push({
                name: budget.subs[i].name,
                allocation: '₦'+budget.subs[i].allocation,
                statusText: budget.subs[i].statusText
            });
        }

        $('.showDetails').modal('show');
    }

    self.createSub = function(){
        self.ajax(self.createSubURI, 'POST', {budget_id: self.budget_id(), name: self.new_budget(), allocation: self.new_allocation(), owner_id: {{ current_user.id }} }).done(function(data){
            self.subs_array.push({
                name: self.new_budget(),
                allocation: '₦'+self.new_allocation(),
                statusText: 'Active'
            });

            var amt = parseInt(self.total()) + parseInt(self.new_allocation());
            self.total_allocation('₦'+amt);
            self.total(amt);
            self.new_budget("");
            self.new_allocation("");
        });
    }

    self.clearFields = function(){
        self.budget_id("");
        self.budget_name("");
        self.allocation("");
        self.total_allocation("");
        self.activityCount("");
        self.statusText("");
        self.total("");
        self.subs_array.removeAll();
    }
}

var fetchTask = new FetchBudgetModel();
var showEdit = new ShowEditBudgetModel();
var addNewBudget = new AddBudgetModel();
var showBudget = new ViewBudgetModel();
ko.applyBindings(fetchTask, $('.budgetlist')[0]);
ko.applyBindings(showEdit, $('.editBudget')[0]);
ko.applyBindings(showBudget, $('.showDetails')[0]);
ko.applyBindings(addNewBudget, $('.addBudget')[0]);
</script>

<script type="text/javascript">
/* for form submission */
function form_submit() {
    document.getElementById("addBudgetForm").submit();
   }
function editform_submit() {
    document.getElementById("editName").removeAttribute("disabled");
    document.getElementById("editBudgetForm").submit();
   }
</script>
{% endblock %}