{% extends "layout.html" %}

{% block body %}
<div class="backlogs">
    <div class="wrapper clearfix">
        <div class="tableSection">
            <div class="titleWrap clearfix">
                <div class="title pull-left">{{ budget.title }}</div>
            </div>
            <div class="tableSec">
                <div class="tablerow header">
                    <div class="withHover tableData width30 minus2">Title</div>
                    <div class="withHover tableData width30">Budgeted Amount</div>
                    <div class="withHover tableData width20">Amount Allocated</div>
                    <div class="tableData width2"></div>
                    <div class="tableData width2"></div>
                    <div class="tableData width2"></div>
                </div>
                {% if not budget.main_subs %}
                    <div>
                        There are no budgets to display...
                    </div>
                {% else %}
                    {% for sub in budget.main_subs %}
                        <div class="tablerow content">
                            <div class="tableData width30 withBar" data-toggle="modal" data-target=".updateProject">{{ sub.name }}</div>
                            <div class="tableData width30">₦{{ sub.get_allocation }}</div>
                            <div class="tableData width20">₦{{ sub.amount_allocated }}</div>
                            <div class="tableData width8 edit" data-id="{{ sub.id }}"> Edit</div>
                            <div class="tableData width8 task" data-toggle="modal" data-target=".addTask" data-id="{{ sub.id }}"> Add Sub Budget</div>
                            {% if sub.child_budgets %}
                                <!-- add trigger for child tasks -->
                                <div class="tableData width8 task" data-toggle="collapse" data-target=".innertable">View Sub Budgets <i class="fa fa-angle-down" aria-hidden="true"></i></div>
                            {% endif %}
                        </div>
                        {% if sub.child_budgets %}
                            <!-- add class for collapsible tasks -->
                            {% for child in sub.child_budgets %}
                            <div class="innertable collapse" style="padding: 0 0 0 10px;">
                                <div class="tablerow content">
                                    <div class="tableData width30 withInnerBar" data-toggle="modal" data-target=".updateProject">{{ child.name }}</div>
                                    <div class="tableData width30">₦{{ child.get_allocation }}</div>
                                    <div class="tableData width20">₦{{ child.amount_allocated }}</div>
                                    <div class="tableData width8 task" data-bind="click: function(){ getBudget({{ child.id }}); }"> Edit</div>
                                    <div class="tableData width8 task" data-toggle="modal" data-target=".addTask" data-id="{{ child.id }}"> Add Sub Budget</div>
                                    {% if child.child_budgets %}
                                        <!-- add trigger for child tasks -->
                                        <div class="tableData width8 task" data-toggle="collapse" data-target=".innerinnertable">View Sub Budgets <i class="fa fa-angle-down" aria-hidden="true"></i></div>
                                    {% endif %}
                                </div>
                                {% if child.child_budgets %}
                                    <div>
                                        {% for grandkid in child.child_budgets %}
                                        <div class="innerinnertable collapse" style="padding: 0 0 0 10px;">
                                            <div class="tablerow content">
                                                <div class="tableData width30 withInnerBar" data-toggle="modal" data-target=".updateProject">{{ grandkid.name }}</div>
                                                <div class="tableData width30">₦{{ grandkid.get_allocation }}</div>
                                                <div class="tableData width20">₦{{ grandkid.amount_allocated }}</div>
                                                <div class="tableData width8 edit" data-bind="click: function(){ getBudget({{ grandkid.id }}); }"> Edit</div>
                                                <div class="tableData width8 task" data-toggle="modal" data-target=".addTask" data-id="{{ grandkid.id }}"> Add Sub Budget</div>
                                                {% if grandkid.child_budgets %}
                                                    <!-- add trigger for child tasks -->
                                                    <div class="tableData width8 task" data-toggle="collapse" data-target=".innerinnerinnertable">View Sub Budgets <i class="fa fa-angle-down" aria-hidden="true"></i></div>
                                                {% endif %}
                                            </div>
                                            {% if grandkid.child_budgets %}
                                                {% for great in grandkid.child_budgets %}
                                                    <div class="innerinnerinnertable collapse" style="padding: 0 0 0 10px;">
                                                        <div class="tableData width30 withInnerBar" data-toggle="modal" data-target=".updateProject">{{ great.name }}</div>
                                                        <div class="tableData width30">₦{{ great.get_allocation }}</div>
                                                        <div class="tableData width20">₦{{ great.amount_allocated }}</div>
                                                        <div class="tableData width8 task" data-bind="click: function(){ getBudget({{ great.id }}); }"> Edit</div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

            </div>
        </div>
        <div class="infoSectionWrap">
            <div class="infoSection">
                <div class="infoSec">
                    <div class="title">Budgeted Amount</div>
                    <div class="content price blue">
                        ₦{{ budget.total_budget }}
                    </div>
                </div>
                <div class="infoSec">
                    <div class="title">Amount Allocated</div>
                    <div class="content smallPrice pupple">
                        ₦{{ budget.amount_allocated }}
                    </div>
                </div>
                <div class="infoSec">
                    <div class="title">Difference</div>
                    <div class="content smallPrice red">
                        ₦{{ budget.budget_difference }}
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>

<!-- Add Task -->
<div class="generalModal modal fade addTask" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <form method="post" id="addTaskForm" action="{{ request.path }}">
        {{ form.csrf_token }}
        {{ form.parent_id(id='parent_id') }}
        <div class="titleSection">
            <div class="cancel clearfix">
                <span class="title">Add new Sub Budget</span>
                <i data-dismiss="modal" class="fa fa-times" aria-hidden="true"></i>
            </div>
            {{ form.name(class_='title', placeholder='Enter Name') }}
            <div class="assign clearfix">
                <button type="submit" onclick="form_submit()" data-dismiss="modal" class="save"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save & close</button>
            </div>
        </div>
        <div class="stateSection clearfix">
            <div class="col-md-8">
                <div class="form-wrap clearfix">
                    <div class="col-md-1 p-0">
                        <div class="title">Allocation</div>
                    </div>
                    <div class="col-md-11">
                        {{ form.allocation(class_='stateForm', placeholder="Amount(₦)")}}
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
  </div>
</div>

<!-- Edit Task -->
<div class="generalModal modal fade editTask" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <form method="post" id="editTaskForm" action="{{ request.path }}">
        {{ editform.csrf_token }}
        {{ editform.parent_id(**{'data-bind': 'value: parent_id'}) }}
        {{ editform.sub_budget_id(**{'data-bind': 'value: sub_budget_id'}) }}
        <div class="titleSection">
            <div class="cancel clearfix">
                <span class="title">Edit </span>
                <i data-dismiss="modal" class="fa fa-times" aria-hidden="true"></i>
            </div>
            {{ form.name(class_='title', **{'data-bind': 'value: title'}) }}
            <div class="assign clearfix">
                <button type="submit" onclick="form_submit()" data-dismiss="modal" class="save"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save & close</button>
            </div>
        </div>
        <div class="stateSection clearfix">
            <div class="col-md-8">
                <div class="form-wrap clearfix">
                    <div class="col-md-1 p-0">
                        <div class="title">Allocation</div>
                    </div>
                    <div class="col-md-11">
                        {{ form.allocation(class_='stateForm', **{'data-bind': 'value: allocation'})}}
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).on("click", ".task", function(){
    var parent_id = $(this).data('id');

    $("#parent_id").val(parent_id);
});

/* for form submission */
function form_submit() {
    document.getElementById("addTaskForm").submit();
   }

function subform_submit() {
    document.getElementById("addSubTaskForm").submit();
   }
</script>

<script type="text/javascript">
/* knockoutjs view models */
function ShowEditBudgetModel(){
    var self = this;
    self.title = ko.observable();
    self.allocation = ko.observable();
    self.task_id = ko.observable();
    self.status = ko.observable();

    self.update = function(task){
        self.title(task.title);
        self.percent(task.percent);
        self.task_id(task.id);
        self.status(task.status);
        console.log(task.title);
        /* show modal */
        $('.editTask').modal('show');
    }
}

function FetchBudgetModel() {
    var self = this;

    self.budgetURI = 'http://localhost:9000/api/v1.0/budgets/get';

    /* make ajax request */
    self.ajax = function(uri, method, data){
        var request = {
            url: uri,
            type: method,
            contentType: "application/json",
            accepts: "application/json",
            cache: true,
            dataType: 'json',
            data: JSON.stringify(data),
            error: function(jqXHR) {
                console.log("ajax error " + jqXHR.status);
            }
        };
        return $.ajax(request);
    }

    self.getBudget = function(budget_id){
        var url = self.budgetURI + '/' + budget_id;
        self.ajax(url, 'GET').done(function(data){
              showEdit.update(data.task);
            }
        );
    }

}

var fetchTask = new FetchBudgetModel();
var showEdit = new ShowEditBudgetModel();
ko.applyBindings(fetchTask, $('.assignedTask')[0]);
ko.applyBindings(showEdit, $('.editTask')[0]);
</script>
{% endblock %}