{% extends "layout.html" %}

{% block body %}
<div class="details">
    <div class="wrapper">
        <div class="col-md-6 p-0">
            <div class="information">
                <div class="title">Create and manage Activities</div>
                <div class="projectTabWrap clearfix">
                <ul id="projectGrid">
                    <!-- ko foreach: projects -->
                    <li class="projectTab">
                        <a data-bind='attr: { "href": "/activity-detail/" + id() }'>
                            <span class="project" data-bind="text: title()">
                            </span>
                            <span class="date" data-bind="text: end_date()">
                            </span>
                            <div class="completion" data-bind="text: complete_string()"></div>
                            <div class="progress">
                              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                              data-bind='attr: { "aria-valuenow": complete(), "style": "width: "+complete()+"%" }' aria-valuemin="0" aria-valuemax="100">
                              </div>
                            </div>
                            <span class="icon">
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </span>
                        </a>
                    </li>
                    <!-- /ko -->
                    {% if projects %}
                    {% for project in projects %}
                    <li class="projectTab {% if project.status == 2 %} completed {% endif %}">
                        <a href="{{ url_for('.project_detail', id=project.id)}}">
                            <span class="project">
                                {{ project.title }}
                            </span>
                            <span class="date">
                                {{ project.end_date }}
                            </span>
                            <div class="completion">
                               {{ project.completion }}% completed
                            </div>
                            <div class="progress">
                              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{ project.completion }}" aria-valuemin="0" aria-valuemax="100" style="width: {{project.completion}}%">
                              </div>
                            </div>
                            <span class="icon">
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </span>
                        </a>
                    </li>
                    {% endfor %}
                    {% endif %}
                    <li class="projectTab add">
                        <a href="#" data-toggle="modal" data-target=".addProject">
                            <div >
                               <div class="icon"><i class="fa fa-plus" aria-hidden="true"></i></div>
                               <div class="text">Add Activity</div>
                            </div>
                        </a>
                    </li>
                </ul>
                </div>
                <div class="updateWrap clearfix">
                    <div class="col-md-6 pl-0">
                        <div class="leftUpdate">
                            <div class="title">Overdue activities</div>
                            {% if overdue %}
                            <ul class="list">
                                {% for project in overdue %}
                                <li>
                                    <a href="{{ url_for('.project_detail', id=project.id)}}">
                                        <span class="icon">
                                            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                        </span> 
                                        <span>
                                            <div class="listTitle">{{ project.title }}</div>
                                            <div class="listTime red">Overdue since: {{ project.end_date }} </div>
                                        </span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            <a class="pull-right" href="{{ url_for('.overdue_projects')}}">View All <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            {% else %}
                            <p>There are no overdue activities to display</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="rightUpdate">
                            <div class="title">Ongoing activities</div>
                            <ul class="list" data-bind="foreach: ongoing">
                                <li>
                                    <a data-bind='attr: { "href": "/activity-detail/" + id }'>
                                        <span class="icon">
                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        </span> 
                                        <span>
                                            <div class="listTitle" data-bind="text: name"></div>
                                            <div class="listTime" data-bind="text: end_date"></div>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <a data-bind="visible: ongoing().length" class="pull-right" href="{{ url_for('.all_projects')}}">View All <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            <div data-bind="if: ongoing().length == 0">
                                <p>There are no ongoing activities to display</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="analyticsWrap clearfix">
                <div class="col-md-6">
                    <div class="title">Overview Information</div>
                    <div class="analytics blue">
                        <div class="icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></div>
                        <div class="data">
                            <span>{{ completed_count }}</span>
                            <span>Completed Activities</span>
                        </div>
                    </div>
                    <div class="analytics green">
                        <div class="icon">
                            <i class="fa fa-hourglass-start" aria-hidden="true"></i>
                        </div>
                        <div class="data">
                            <span>{{ overdue_count }}</span>
                            <span>Delayed Activities</span>
                        </div>
                    </div>
                    <div class="analytics pupple">
                        <div class="icon"><i class="fa fa-folder-open-o" aria-hidden="true"></i></i></div>
                        <div class="data">
                            <span data-bind="text: ongoing"></span>
                            <span>Ongoing activities</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="title">Chart Information</div>
                    <div class="pieSection">

                        <div class="pieContent">
                            <div id="pie-chart" style="height: 200px;"></div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>

<div class="modal fade editTask addProject" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" id="addProject">
        <div class="title clearfix">
            <span class="pull-left">Add New Activity</span>
            <span data-dismiss="modal" id="close" aria-label="Close" class="pull-right"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
        <form>
            {{ form.csrf_token }}
            {{ form.owner_id(**{'data-bind': 'value: owner_id'}) }}
            <div class="content clearfix">
                <div class="col-md-12">
                    <label for="">Title</label>
                    <input type="text" name="title" data-bind="value: title" placeholder="Enter Title" required>
                </div>  
                <div class="col-md-6">
                    <style type="text/css">
                        .optionGroup{
                            font-weight: bold;
                        }
                        .optionChild{
                            padding-left: 15px;
                        }
                    </style>
                    <label for="">Budget</label>
                    <select name="budget" class="noMargin" id="budget" data-bind="value: budget_id, event:{ change: checkBudget }" required>
                        <option disabled selected>Select a Budget</option>
                        {% for b in budgets %}
                            <option value="{{ b.id }}" class="optionGroup" {% if b.status != 0 %}disabled{% endif %}>{{ b.name }}</option>
                            {% for b1 in b.child_budgets %}
                                {% if b1.child_budgets %}
                                   <option value="{{ b1.id }}" class="optionGroup optionChild" {% if b1.status != 0 %}disabled{% endif %}>&nbsp;&nbsp;&nbsp;&nbsp;{{ b1.name }}</option>
                                {% else %}
                                    <option value="{{ b1.id }}" class="optionChild" {% if b1.status != 0 %}disabled{% endif %}>&nbsp;&nbsp;&nbsp;&nbsp;{{ b1.name }}</option>
                                {% endif %}
                                {% for b2 in b1.child_budgets %}
                                    {% if b2.child_budgets %}
                                       <option value="{{ b2.id }}" class="optionGroup optionGrandChild" {% if b2.status != 0 %}disabled{% endif %}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ b2.name }}</option>
                                    {% else %}
                                        <option value="{{ b2.id }}" class="optionGrandChild" {% if b2.status != 0 %}disabled{% endif %}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ b2.name }}</option>
                                    {% endif %}
                                    {% for b3 in b2.child_budgets %}
                                        <option value="{{ b3.id }}" class="optionGreatChild" {% if b3.status != 0 %}disabled{% endif %}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ b3.name }}</option>
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </select>
                    <sub data-bind="visible: budget_limit_text, text: budget_limit_text" style="color: red;"></sub>
                </div>
                <div class="col-md-6">
                    <label for="">Allocation</label>
                    <input type="number" data-bind="value: allocation, attr: { max: max_budget }, event:{ change: checkBudget }" id="budget_limit" name="budget_limit" placeholder="Allocation" required>
                </div>

                <div class="col-md-12">
                    <label for="">Priority</label>
                    {{ form.priority(class_='plan', **{'data-bind': 'value: priority'}) }}
                </div>

                <div class="col-md-6">
                    <label for="">Start Date</label>
                    <input data-bind="value: start_date" class="datepicker" name="start_date" type="text" required>
                </div>

                <div class="col-md-6">
                    <label for="">End Date</label>
                    <input data-bind="value: end_date" class="datepicker" name="end_date" type="text" required>
                </div>

                <div class="col-md-12">
                    <label for="">Description</label>
                    <textarea data-bind="value: description" id="richtxt" name="description"></textarea>
                </div>
            </div>
            <div class="buttonWrap">
                <button id="submitBtn" data-bind="click: addProject" class="save" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save & close</button>
            </div>
        </form>
    </div>
  </div>
</div>

<script type="text/javascript">
function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}

function OngoingModel(){
    var self = this;
    self.ongoingURI = 'http://localhost:9000/api/v1.0/projects/ongoing'
    self.ongoing = ko.observableArray();

    {% for i in ongoing %}
        self.ongoing.push({ id:'{{ i.id}}', name: '{{ i.title }}', end_date: '{{ i.end_date }}'});
    {% endfor %}

    self.ajax = function(uri, method, data){
        var request = {
            url: uri,
            type: method,
            contentType: "application/json",
            accepts: "application/json",
            cache: false,
            dataType: 'json',
            data: JSON.stringify(data),
            error: function(jqXHR) {
                console.log("ajax error " + jqXHR.status);
            }
        };
        return $.ajax(request);
    }

    self.update = function(){
        self.ajax(self.ongoingURI, 'GET').done(function(data){
            self.ongoing.removeAll();

            for (var i = 0; i < data.projects.length; i++) {
                self.ongoing.push({
                    id: data.projects[i].id,
                    name: data.projects[i].title,
                    end_date: moment(data.projects[i].end_date).format('YYYY-MM-DD')
                });
            }

        });
    }
}
function ProjectsModel(){
    var self = this;
    self.projectsURI = 'http://localhost:9000/api/v1.0/projects/create';
    self.projects = ko.observableArray();

    self.ajax = function(uri, method, data){
        var request = {
            url: uri,
            type: method,
            contentType: "application/json",
            accepts: "application/json",
            cache: false,
            dataType: 'json',
            data: JSON.stringify(data),
            error: function(jqXHR) {
                console.log("ajax error " + jqXHR.status);
            }
        };
        return $.ajax(request);
    }

    self.add = function(project){
        self.ajax(self.projectsURI, 'POST', project).done(function(data){
            self.projects.push({
                id: ko.observable(data.project.id),
                title: ko.observable(data.project.title),
                end_date: ko.observable(moment(data.project.end_date).format('YYYY-MM-DD')),
                complete: ko.observable(data.project.completion),
                complete_string: ko.observable(data.project.completion + "% completed")
            });
        });
    }

}
function CreateProjectModel() {
    var self = this;
    self.title = ko.observable();
    self.owner_id = ko.observable('{{current_user.id}}');
    self.priority = ko.observable();
    self.budget_id = ko.observable();
    self.allocation = ko.observable();
    self.description = ko.observable();
    self.start_date = ko.observable();
    self.end_date = ko.observable();

    self.budgetURI = 'http://localhost:9000/api/v1.0/budgets/get/';
    self.budget_limit_text = ko.observable();
    self.max_budget = ko.observable();
    self.addProject = function() {
        $('.addProject').modal('hide');

        tinymce.triggerSave();
        var txt = tinymce.get('richtxt').getContent();

        // for allocation
        var money = $('#budget_limit').maskMoney('unmasked')[0];

        console.log( self.allocation());

        projectView.add({
            title: self.title(),
            owner_id: self.owner_id(),
            priority: self.priority(),
            budget_id: self.budget_id(),
            budget_limit: self.allocation(),
            description: txt,
            start_date: self.start_date(),
            end_date: self.end_date()
        });
        statView.update();
        ongoingView.update();
        self.title("");
        self.priority("");
        self.budget_id("");
        self.allocation("");
        self.description("");
        self.start_date("");
        self.end_date("");
    }

    self.ajax = function(uri, method, data){
        var request = {
            url: uri,
            type: method,
            contentType: "application/json",
            accepts: "application/json",
            cache: false,
            dataType: 'json',
            data: JSON.stringify(data),
            error: function(jqXHR) {
                console.log("ajax error " + jqXHR.status);
            }
        };
        return $.ajax(request);
    }

    self.getBudget  = function(budget){
        self.ajax(self.budgetURI + budget, 'GET').done(function(data){
            self.budget_limit_text("Maximum amount allowed: "+ '₦'+numberWithCommas(data.sub.amount_remaining));
            self.max_budget(data.sub.amount_remaining);
        });
    }

    self.budget_id.subscribe(function(newValue) {
        if(newValue != "Select a Budget"){
            self.getBudget(newValue);
        }else{
            self.budget_limit_text("");
        }
    });

    self.checkBudget = function (){
        if(self.allocation() > self.max_budget()){
            $('#submitBtn').prop('disabled', true);
            document.getElementById('submitBtn').className = "save disabled";
        }else{
            $('#submitBtn').prop('disabled', false);
           document.getElementById('submitBtn').className = "save";
        }
    }
}

function StatModel(){
    var self = this;

    self.ongoing = ko.observable({{ ongoing_count }});

    self.update =  function(){
        self.ongoing(self.ongoing() + 1);
        console.log(self.ongoing);
        console.log(self.ongoing());
    }
}
var projectView = new ProjectsModel();
var createView = new CreateProjectModel();
var statView = new StatModel();
var ongoingView = new OngoingModel();
ko.applyBindings(projectView, $('#projectGrid')[0]);
ko.applyBindings(createView, $('#addProject')[0]);
ko.applyBindings(statView, $('.analyticsWrap')[0]);
ko.applyBindings(ongoingView, $('.rightUpdate')[0]);
</script>

{% endblock %}
{% block extraJs %}
<script>
        var datapie = []
        datapie.push({ label: "Ongoing", value: {{ ongoing_count }} },{ label: "Completed", value: {{ completed_count }} }, { label: "Overdue", value: {{ overdue_count }} });
        Morris.Donut({
            element: 'pie-chart',
            data: datapie
        });
</script>
{% endblock %}
