{% extends "layout.html" %}

{% block body %}
<div class="details">
    <div class="wrapper">
        <div class="col-md-6 p-0">
            <div class="information">
                <div class="title">Create and manage Projects</div>
                <div class="projectTabWrap clearfix">
                <ul id="projectGrid">
                    <!-- ko foreach: projects -->
                    <li class="projectTab">
                        <a data-bind='attr: { "href": "/project-detail/" + id() }'>
                            <span class="project" data-bind="text: title">
                            </span>
                            <span class="date" data-bind="text: end_date">
                            </span>
                            <div class="completion" data-bind="text: complete_string"></div>
                            <div class="progress">
                              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                              data-bind='attr: { "aria-valuenow": complete(), "style": "width: "+complete()+"%" }' aria-valuemin="0" aria-valuemax="100">
                              </div>
                            </div>
                            <span class="icon">
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </span>
                        </a>
                    </li>
                    <!-- /ko -->
                    {% if projects %}
                    {% for project in projects %}
                    <li class="projectTab {% if project.status == 2 %} completed {% endif %}">
                        <a href="{{ url_for('.project_detail', id=project.id)}}">
                            <span class="project">
                                {{ project.title }}
                            </span>
                            <span class="date">
                                {{ project.end_date }}
                            </span>
                            <div class="completion">
                               {{ project.completion }}% completed
                            </div>
                            <div class="progress">
                              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{ project.completion }}" aria-valuemin="0" aria-valuemax="100" style="width: {{project.completion}}%">
                              </div>
                            </div>
                            <span class="icon">
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </span>
                        </a>
                    </li>
                    {% endfor %}
                    {% endif %}
                    <li class="projectTab add">
                        <a href="#" data-toggle="modal" data-target=".addProject">
                            <div >
                               <div class="icon"><i class="fa fa-eye" aria-hidden="true"></i></div>
                               <div class="text">Add Project</div>
                            </div>
                        </a>
                    </li>
                </ul>
                </div>
                <div class="updateWrap clearfix">
                    <div class="col-md-6 pl-0">
                        <div class="leftUpdate">
                            <div class="title">Overdue projects</div>
                            {% if overdue %}
                            <ul class="list">
                                {% for project in overdue %}
                                <li>
                                    <a href="{{ url_for('.project_detail', id=project.id)}}">
                                        <span class="icon">
                                            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                        </span> 
                                        <span>
                                            <div class="listTitle">{{ project.title }}</div>
                                            <div class="listTime red">Overdue since: {{ project.end_date }} </div>
                                        </span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            <a class="pull-right" href="{{ url_for('.overdue_projects')}}">View All <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            {% else %}
                            <p>There are no overdue projects to display</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="rightUpdate">
                            <div class="title">Ongoing projects</div>
                            {% if ongoing %}
                            <ul class="list">
                                {% for project in ongoing %}
                                <li>
                                    <a href="{{ url_for('.project_detail', id=project.id)}}">
                                        <span class="icon">
                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        </span> 
                                        <span>
                                            <div class="listTitle">{{ project.title }}</div>
                                            <div class="listTime">{{ project.end_date }} </div>
                                        </span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            <a class="pull-right" href="{{ url_for('.ongoing')}}">View All <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            {% else %}
                                <p>There are no ongoing projects to display</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="analyticsWrap clearfix">
                <div class="col-md-6">
                    <div class="title">Overview Information</div>
                    <div class="analytics blue">
                        <div class="icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></div>
                        <div class="data">
                            <span>{{ completed_count }}</span>
                            <span>Completed Projects</span>
                        </div>
                    </div>
                    <div class="analytics green">
                        <div class="icon">
                            <i class="fa fa-hourglass-start" aria-hidden="true"></i>
                        </div>
                        <div class="data">
                            <span>{{ overdue_count }}</span>
                            <span>Delayed Projects</span>
                        </div>
                    </div>
                    <div class="analytics pupple">
                        <div class="icon"><i class="fa fa-money" aria-hidden="true"></i></i></div>
                        <div class="data">
                            <span>{{ deficit_count }}</span>
                            <span>Deficit project</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="title">Chart Information</div>
                    <div id="graph"></div>
                </div>
            </div>  
        </div>
    </div>
</div>

<!-- Add new project -->
<div class="generalModal modal fade addProject" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" id="addProject">
    <form>
        {{ form.csrf_token }}
        {{ form.owner_id(**{'data-bind': 'value: owner_id'}) }}
        <div class="titleSection">
            <div class="cancel clearfix">
                <span class="title">Add new project</span>
                <i data-dismiss="modal" class="fa fa-times" aria-hidden="true"></i>
            </div>
            <input type="text" name="title" class="title" data-bind="value: title" placeholder="Enter Title">
            <div class="assign clearfix">
                <button data-dismiss="modal" data-bind="click: addProject" class="save" type="button"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save & close</button>
            </div>
        </div>
        <div class="stateSection clearfix">
            <div class="col-md-5">
                <div class="form-wrap clearfix">
                    <div class="col-md-2 p-0">
                        <div class="title">Budget</div>
                    </div>
                    <div class="col-md-10">
                        {{ form.budget_id(class_='stateForm', **{'data-bind': 'value: budget_id'}) }}
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="form-wrap clearfix">
                    <div class="col-md-1 p-0">
                        <div class="title">Allocation</div>
                    </div>
                    <div class="col-md-11">
                        <input type="text" class="stateForm" data-bind="value: allocation" name="budget_limit" placeholder="Amount(₦)">
                    </div>
                </div>
            </div>
        </div>
        <div class="descritpionSection clearfix">
            <div class="col-md-8">
                <div class="title">Description</div>
                <textarea data-bind="value: description" name="description"></textarea>
            </div>
            <div class="col-md-4">
                <div class="title">Planning</div>
                <div class="planingForms">
                   <div class="title">Priority</div>
                   {{ form.priority(class_='plan', **{'data-bind': 'value: priority'}) }}
                </div>
                <div class="planingForms">
                   <div class="title">Start Date</div>
                   <input data-bind="value: start_date" name="start_date" type="date">
                </div>
                <div class="planingForms">
                   <div class="title">End Date</div>
                   <input data-bind="value: end_date" name="end_date" type="date">
                </div>
            </div>
        </div>
    </form>
    </div>
  </div>
</div>
<script type="text/javascript">
function ProjectsModel(){
    var self = this;
    self.projectsURI = 'http://localhost:9000/api/v1.0/projects/create';
    self.projects = ko.observableArray();

    self.ajax = function(uri, method, data){
        var request = {
            url: uri,
            type: method,
            contentType: "application/json",
            accepts: "application/json",
            cache: false,
            dataType: 'json',
            data: JSON.stringify(data),
            error: function(jqXHR) {
                console.log("ajax error " + jqXHR.status);
            }
        };
        return $.ajax(request);
    }

    self.add = function(project){
        self.ajax(self.projectsURI, 'POST', project).done(function(data){
            self.projects.push({
                id: ko.observable(data.project.id),
                title: ko.observable(data.project.title),
                end_date: ko.observable(moment(data.project.end_date).format('YYYY-MM-DD')),
                complete: ko.observable(data.project.completion),
                complete_string: ko.observable(data.project.completion + "% completed")
            });
        });
    }

}
function CreateProjectModel() {
    var self = this;
    self.title = ko.observable();
    self.owner_id = ko.observable('{{current_user.id}}');
    self.priority = ko.observable();
    self.budget_id = ko.observable();
    self.allocation = ko.observable();
    self.description = ko.observable();
    self.start_date = ko.observable();
    self.end_date = ko.observable();

    self.addProject = function() {
        console.log('title: ' + self.title());
        console.log('owner_id: ' + self.owner_id());
        console.log('priority: ' + self.priority());
        console.log('budget_id: ' + self.budget_id());
        console.log('allocation: ' + self.allocation());
        console.log('description: ' + self.description());
        console.log('start_date: ' + self.start_date());
        console.log('end_date: ' + self.end_date());

        projectView.add({
            title: self.title(),
            owner_id: self.owner_id(),
            priority: self.priority(),
            budget_id: self.budget_id(),
            budget_limit: self.allocation(),
            description: self.description(),
            start_date: self.start_date(),
            end_date: self.end_date()
        });
        self.title("");
        self.owner_id("");
        self.priority("");
        self.budget_id("");
        self.allocation("");
        self.description("");
        self.start_date("");
        self.end_date("");
    }
}
var projectView = new ProjectsModel();
var createView = new CreateProjectModel();
ko.applyBindings(projectView, $('#projectGrid')[0]);
ko.applyBindings(createView, $('#addProject')[0]);
</script>
{% endblock %}

