{% extends "layout.html" %}
{% block secondLayer %}
<div class="secondLayer">
    <div class="wrapper">
        <ul>
            <li>
                <a class="{% if request.path == '/settings'%} active {% endif %}" href="{{ url_for('.settings')}}">Company Settings</a>
            </li>
            <li>
                <a class="{% if request.path == '/periods'%} active {% endif %}" href="{{ url_for('.periods')}}">Period Settings</a>
            </li>
            <li>
                <a class="{% if request.path == '/create-user'%} active {% endif %}" href="{{ url_for('.create_user')}}">User Settings</a>
            </li>
            <li>
                <a class="{% if request.path == '/departments'%} active {% endif %}" href="{{ url_for('.departments')}}">Department Settings</a>
            </li>
            <li>
                <a class="{% if request.path == '/budgets'%} active {% endif %}" href="{{ url_for('.budgets')}}">Budget Settings</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}



{% block body %}
<div class="details">
    <div class="wrapper">
        <div class="settings">
            <form method="post">
                {{ form.csrf_token }}
                <div class="col-md-offset-1 col-md-8 pl-0">
                    <div class="title">Period Settings</div>
                    <div class="form-wrap">
                        <div class="form-group clearfix">
                            <label class="col-md-3 control-label">Period Name</label>
                            <div class="col-md-9 borderd">
                              <input type="text" name="name" class="form-control" placeholder="Period Name">
                              <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-wrap">
                        <div class="form-group clearfix">
                            <label class="col-md-3 control-label">Start Date</label>
                            <div class="col-md-9 borderd">
                              <input name="start_date" class="form-control datetimepicker" placeholder="Start Date">
                              <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-wrap">
                        <div class="form-group clearfix">
                            <label class="col-md-3 control-label">End Date</label>
                            <div class="col-md-9 borderd">
                              <input name="end_date" class="form-control datetimepicker" placeholder="End Date">
                              <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-8 pl-0 ">
                    <button type="submit" class="submit">Save</button>
                    <button type="button" class="cancel">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
