{% extends "layout.html" %}
{% block secondLayer %}
<div class="secondLayer">
    <div class="wrapper">
        <ul>
            <li>
                <a class="{% if request.path == '/periods'%} active {% endif %}" href="{{ url_for('.periods')}}">Period Settings</a>
            </li>
            <li>
                <a class="{% if request.path == '/user-settings'%} active {% endif %}" href="{{ url_for('.user_settings')}}">User Settings</a>
            </li>
            <li>
                <a class="{% if request.path == '/departments'%} active {% endif %}" href="{{ url_for('.departments')}}">Department Settings</a>
            </li>
            <li>
                <a class="{% if request.path == '/budgets'%} active {% endif %}" href="{{ url_for('.budgets')}}">Budget Settings</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}



{% block body %}
<div class="modal fade editTask userSettings" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="title clearfix">
            <span class="pull-left">User Settings</span>
            <span data-dismiss="modal" aria-label="Close" class="pull-right"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
        <form method="post"  class="clearfix">
            {{ form.csrf_token }}
            <div class="content clearfix">
                <div class="col-md-12">
                    <label for="">User Name</label>
                    <input name="username" class="form-control" placeholder="User Name" required>
                </div>  
                <div class="col-md-6">
                    <label for="">Full Name</label>
                    <input name="full_name" class="form-control" placeholder="Full Name" required>
                </div>  
                <div class="col-md-6">
                    <label for="">Email</label>
                     <input type="email" name="email" class="form-control" placeholder="Email" required>
                </div> 
                <div class="col-md-6">
                    <label for="">Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Password" required>
                </div>  
                <div class="col-md-6">
                    <label for="">Confirm Password</label>
                     <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password">
                </div>
                <div class="col-md-6">
                    <label for="">Department</label>
                    {{ form.department(class_="form-control") }}
                </div>  
                <div class="col-md-6">
                    <label for="">User Type</label>
                     {{ form.user_type(class_="form-control") }}
                </div> 
                  
            </div>
            <div class="buttonWrap">
                <button type="submit" data-dismiss="modal" class="cancel"><i class="fa fa-times" aria-hidden="true"></i> Close</button>

                <button type="submit" class="save"><i class="fa fa-floppy-o" aria-hidden="true"></i>  Save</button>
                
            </div>
        </form>
    </div>
  </div>
</div>

<div class="details">
    <div class="wrapper">
        <div class="settings">
            <div class="dHeading clearfix">
                <div class="title pull-left">User Settings</div>
                <a href="#" class="adding pull-right" data-toggle="modal" data-target=".editTask">Add User</a>
            </div>
            
             <div class="col-md-12">
                <table class="assignedTask full">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Username</th>
                            <th>Full Name</th>
                            <th>Department</th>
                            <th>Account Type</th>
                            <th style="width: 15%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.full_name }}</td>
                            <td>{{ user.department.name }}</td>
                            <td>{{ user.user_type }}</td>
                            <td style="width: 15%"">
                                {% if user.status == 0 %}
                                    <a class="deactivated" href="{{ url_for('.toggle_user_status', action=1, userid=user.id) }}">Deactivate</a>
                                {% else %}
                                    <a class="activated" href="{{ url_for('.toggle_user_status', action=0, userid=user.id) }}">Activate</a>
                                {% endif %}
                                <a class="edited" href="{{ url_for('.edit_user', userid=user.id) }}">Edit</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}