{% extends "layout.html" %}
{% block secondLayer %}
<div class="secondLayer">
    <div class="wrapper">
        <ul>
            <li>
                <a class="{% if request.path == '/periods'%} active {% endif %}" href="{{ url_for('.periods')}}">Period Settings</a>
            </li>
            <li>
                <a class="{% if request.path == '/user-settings'%} active {% endif %}" href="{{ url_for('.user_settings')}}">User Settings</a>
            </li>
            <li>
                <a class="{% if request.path == '/departments'%} active {% endif %}" href="{{ url_for('.departments')}}">Department Settings</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}



{% block body %}
<div class="modal fade editTask userSettings" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="title clearfix">
            <span class="pull-left">User Settings</span>
            <span data-dismiss="modal" aria-label="Close" class="pull-right"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
        <form method="post" id="userForm" class="clearfix">
            {{ form.csrf_token }}
            {{ form.user_id(**{'data-bind': 'value: user_id'}) }}
            <div class="content clearfix">
                <div class="col-md-12">
                    <label for="">User Name</label>
                    <input name="username" class="form-control" placeholder="User Name" data-bind="value: username" required>
                </div>  
                <div class="col-md-6">
                    <label for="">Full Name</label>
                    <input name="full_name" class="form-control" placeholder="Full Name" data-bind="value: full_name" required>
                </div>  
                <div class="col-md-6">
                    <label for="">Email</label>
                     <input type="email" name="email" class="form-control" placeholder="Email" data-bind="value: email" required>
                </div> 
                <div class="col-md-6">
                    <label for="">Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Password" id="password">
                </div>  
                <div class="col-md-6">
                    <label for="">Confirm Password</label>
                     <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password" id="cpassword">
                </div>
                <div class="col-md-6">
                    <label for="">Department</label>
                    {{ form.department(class_="form-control", **{'data-bind': 'value: department_id'}) }}
                </div>  
                <div class="col-md-6">
                    <label for="">User Type</label>
                     {{ form.user_type(class_="form-control", **{'data-bind': 'value: account_type'}) }}
                </div> 
                  
            </div>
            <div class="buttonWrap">
                <button type="submit" data-dismiss="modal" class="cancel"><i class="fa fa-times" aria-hidden="true"></i> Close</button>

                <button type="submit" onclick="form_submit()" class="save"><i class="fa fa-floppy-o" aria-hidden="true"></i>  Save</button>
                
            </div>
        </form>
    </div>
  </div>
</div>

<div class="details">
    <div class="wrapper">
        <div class="settings">
            <div class="dHeading clearfix">
                <div class="title pull-left">User Settings</div>
                <a href="#" class="adding pull-right" data-bind="click: function(){ addUser(); }">Add User</a>
            </div>
             <div class="col-md-12">
                <table class="assignedTask full">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Username</th>
                            <th>Full Name</th>
                            <th>Department</th>
                            <th>Account Type</th>
                            <th style="width: 15%"></th>
                        </tr>
                    </thead>
                    <tbody class="tableBody">
                        {% for user in users %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.full_name }}</td>
                            <td>{{ user.department.name }}</td>
                            <td>{{ user.user_type }}</td>
                            <td style="width: 15%">
                                <a class="edited" href="#" data-bind="click: function(){ getUser({{ user.id }}); }">Edit</a>
                                {% if user.id != current_user.id %}
                                    {% if user.status == 0 %}
                                        <a class="deactivated" href="{{ url_for('.toggle_user_status', action=1, userid=user.id) }}">Deactivate</a>
                                    {% else %}
                                        <a class="activated" href="{{ url_for('.toggle_user_status', action=0, userid=user.id) }}">Activate</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
function EditUserModel(){
    var self = this;
    self.username = ko.observable();
    self.full_name = ko.observable();
    self.email = ko.observable();
    self.account_type = ko.observable(0);
    self.department_id = ko.observable(1);
    self.user_id = ko.observable();

    self.update = function(user){
        self.user_id(user.id);
        self.username(user.username);
        self.full_name(user.full_name);
        self.email(user.email);
        self.account_type(user.account_type);
        self.department_id(user.department_id);
        console.log(user.username);
        /* make password optional */
        $("#password").prop('required',false);
        $("#cpassword").prop('required',false);
        /* show modal */
        $('.editTask').modal('show');
    }

    self.add = function(){
        self.user_id(null);
        self.username(null);
        self.full_name(null);
        self.email(null);
        self.account_type(0);
        self.department_id(1);
        /* make password required */
        $("#password").prop('required',true);
        $("#cpassword").prop('required',true);
        /* show modal */
        $('.editTask').modal('show');
    }
}

function UserModel(){
    var self = this;
    self.userURI = 'http://localhost:9000/api/v1.0/users/get';

    self.ajax = function(uri, method, data){
        var request = {
            url: uri,
            type: method,
            contentType: "application/json",
            accepts: "application/json",
            cache: false,
            dataType: 'json',
            data: JSON.stringify(data),
            error: function(jqXHR) {
                console.log("ajax error " + jqXHR.status);
            }
        };
        return $.ajax(request);
    }

    self.getUser = function(user_id){
        var url = self.userURI + '/' + user_id;
        self.ajax(url, 'GET').done(function(data){
              editObject.update(data);
            }
        );
    }

}

function AddUserModel(){
    var self = this;

    self.addUser = function(){
        editObject.add();
    }
}
var userObject = new UserModel();
var editObject = new EditUserModel();
var addObject = new AddUserModel();
ko.applyBindings(userObject, $('.tableBody')[0]);
ko.applyBindings(editObject, $('.userSettings')[0]);
ko.applyBindings(addObject, $('.dHeading')[0]);
</script>
<script type="text/javascript">
    function form_submit() {
        document.getElementById("userForm").submit();
   }
</script>
{% endblock %}